[2015-01-19 18:59] bebraw opened #1 "Allow a column with custom controls to be defined"
Maybe it would make sense to allow the user to define a custom column with room for custom controls like `delete` (simply X with confirmation) or `edit` (could open a modal).

The extra column would look something like this in configuration:

[code]

Note that it would be very handy if `row` parameter contained whole data objects instead of just the visible columns. Some data may be hidden on purp

[2015-01-19 19:00] bebraw opened #2 "Allow column contents to be sorted through header"
This needs some design. Maybe it's enough to provide hooks for the header. The user can then react based on that, update UI and data.

[2015-01-19 19:00] bebraw opened #3 "Implement basic tests"
Ie. https://facebook.github.io/jest/docs/tutorial-react.html .

[2015-01-19 19:01] bebraw opened #4 "Push basic editor to `extras`"
Some basic editors could be provided with the library. These can be extracted from the current demo.

[2015-01-19 19:01] bebraw opened #5 "Implement a pagination example"
This needs a custom control for pagination. Good demo.

[2015-01-20 08:05] #1 closed

[2015-01-20 08:44] #2 closed

[2015-01-20 09:01] #4 closed

[2015-01-20 09:37] bebraw opened #6 "Implement a search example"

[2015-01-20 09:38] bebraw opened #7 "Generate better demo data"

[2015-01-20 14:54] #7 closed

[2015-01-20 16:32] #6 closed

[2015-01-21 09:42] #5 closed

[2015-01-21 10:01] bebraw opened #8 "Show sort indicator at header"
CSS example at http://glittershark.github.io/reactable/ . Just need to set up `:after`.

[2015-01-21 11:29] #8 closed

[2015-01-21 14:00] #3 closed

[2015-02-20 20:55] eviltoylet opened #10 "Search isn't working correctly because of lack of formatter"
The current search implementation expects that `columns` contains a `formatter` field. There currently isn't a way to get to it because the current formatter lives in the `cell` object.

Is there any reason that `formatter` and `editor` don't just live on `columns`? `Cell` can be abstracted away for the user and created within `Table.render()`. This will allow removal of conditional code based on

[2015-02-21 07:40] bebraw commented on #10
Yeah, this sounds like a good change to make. I probably went too far with abstraction. In the process I forgot to update `search` implementation to take formatting in count. I wouldn't have any problem merging your PR. Thanks. :)

[2015-02-21 07:42] bebraw commented on #10
I recall the main reason for making cell customizable had to do with the fact that sometimes you might want to render something that's not included within the data (ie. custom controls for edit, delete). I guess in the scheme you are proposing this would go to `formatter` field so there shouldn't be a problem I think.

[2015-02-24 02:07] eviltoylet commented on #10
Great! I'll take a deeper look tonight. I haven't spent much time looking at the role of `editor` though. What's the motivation behind that? Any future plans for it? (e.g. hook into a persistent store)

[2015-02-24 08:23] bebraw commented on #10
Cells implement standard interface (`(property, value, rowIndex, columnIndex)`). `lib/cell` and editors build on top of that. Each editor expects properties `value` and `onValue`. That is handled by `lib/cell` abstraction.

Internally `lib/cell` tracks edited cells in its parents state and modifies data. Now that I think of it, this isn't ideal. I suppose it should expose that the bit where it doe

[2015-02-25 02:48] eviltoylet commented on #10
Apologies for the spaminess here. I force pushed changes a few times as I discovered issues with my changes. Turns out GitHub still keeps those commits around.

[2015-02-25 06:18] bebraw commented on #10
No problem. I'll go through the PR in a bit.

[2015-02-27 09:16] #10 closed

[2015-02-27 09:38] bebraw opened #12 "Figure out how to fix Travis tests"
Travis yields

[code]

Build: https://travis-ci.org/bebraw/reactabular/builds/52394562 .

Interestingly I have the same fail at another project https://travis-ci.org/bebraw/react-pagify . Curiously the stack traces are quite different.

Maybe I'm doing something systematically wrong here? The strange thing is that the tests pass locally.

@eviltoylet Any idea what might cause this beyond that `pee

[2015-02-27 10:02] bebraw commented on #12
@eviltoylet Got it. If you have both `require('react')` and `require('react/addons')` at your project, it will get confused. I made the project use latter everywhere and that fixed the issue.

[2015-02-27 10:02] #12 closed

[2015-02-27 10:45] bebraw opened #13 "If a row is deleted while an item on another is edited, editor retains position"
1. Inline edit some property at the demo
2. Remove a row on top of it -> The editor retains it's position. Instead it should follow the row it belongs to.

Another problem is that edited cells still remain open and retain their data if you change a page (ie. open a few inline editors and hit another page). This happens because `rowIndex` points at index local to the given page.

Maybe there's some

[2015-02-27 20:01] eviltoylet commented on #13
Well, the good thing is that I believe these issues are specific to the demo implementation. :) Unfortunately, some parts are still tightly coupled to the library since the abstraction for cell editors isn't crisp enough.

There's a lot of little issues here:
- The remove should really take care of modifying the content of `editedCells`. However, `editedCells` are an internal implementation of `ed

[2015-02-28 15:04] bebraw commented on #13
Thanks for your extensive comment!

Yeah, that sounds like a good idea! I'll think about this and implement some sort of API.

Absolutely. Given it is just a demo, better not to make it too complex.

I think a lot of the current issues could be simplified by implementing some variant of Flux pattern. In terms of Reflux it would make sense to push basic table operations as Actions. In addition ther

[2015-03-02 20:46] eviltoylet commented on #13
Any idea when you'll get around to implementing this? :)

[2015-03-02 20:53] bebraw commented on #13
I'll spend some time on this tomorrow. :)

[2015-03-03 13:45] bebraw commented on #13
@eviltoylet I think I know how to solve the editor/page conflict. If you look closely, you can see dropdown and boolean get their state correctly based on page data. The only problem is that input seems to have internal state. If we can figure out a nice way to eliminate that, then this would work nicely. I have a feeling there might be some life cycle method just for this purpose (need to overrid

[2015-03-12 20:10] eviltoylet opened #15 "Doesn't seem to work with RequireJS"
I was getting issues with using Reactabular with RequireJS. I'm not sure if this was a configuration problem on my part, or if it just doesn't play well with webpack.

[code]
[code]

[2015-03-12 20:33] bebraw commented on #15
@eviltoylet Can you try changing `config/webpack.common.dist.js` `'react/addons': 'react/addons'` to `'react/addons': 'react'?

[2015-03-12 22:04] eviltoylet commented on #15
Yeah that works, but it doesn't seem like the correct thing to do. The package layouts for react are different in bower and npm.

Maybe this is what I need to do? But ... I don't actually know :P
[code]

[2015-03-13 05:49] bebraw commented on #15
Yeah, I understand better what's going on here now. Webpack will alias React as `react/addons` in our current build. In other words your config is correct and you can simplify it further:

[code]

Now that I think of it, our current naming is correct. We depend on React with addons after all. The first part of Webpack config (`'react': 'react') is likely redundant. We shouldn't have any direct ref

[2015-03-13 05:52] bebraw opened #16 "Drop `annozip` dependency or make it lighter"
Just saw some extra gunk at the build we shouldn't have there. We might want to drop the dependency altogether.

[2015-03-13 09:00] bebraw opened #17 "Can we benefit from `uncontrollable` approach?"
https://github.com/jquense/uncontrollable

[2015-03-13 23:20] eviltoylet commented on #15
Yup, I'm going to close this as a non issue. Thanks!

[2015-03-13 23:20] #15 closed

[2015-03-14 00:45] eviltoylet commented on #17
Reactabular already follows this pattern. Didn't provide a formatter? We'll just use a default one. However, this is a very simple thing to do and I don't think we need to adopt this dependency to do it. In practice we can just consult 'props' to see if things are there and use a sane default if it's not provided. The presence of the `tapsHash` in the code is suspicious to me.

However, one thing

[2015-03-14 10:06] bebraw commented on #17
Yeah, let's leave this open for now till that gets resolved.

[2015-03-18 12:46] #16 closed

[2015-03-18 12:46] #17 closed

[2015-03-23 16:13] bebraw opened #19 "Allow `sort_column` comparator to be swapped"
Now it's fixed. Need to make this pluggable.

[2015-03-23 16:14] bebraw opened #20 "Integrate eslint"
Basic configuration:

[code]

[Info](https://medium.com/@dan_abramov/lint-like-it-s-2015-6987d44c5b48).

[2015-03-23 16:16] bebraw opened #21 "Make sure `sort_column` survives nulls"
@spincycle, Your attachment didn't make it through. Just curious to see how you solved this. :)

It's a good idea to add some null checks there anyway.

[2015-03-23 16:26] spincycle commented on #21
data.sort(function(a, b) {
        var p1 = a[property] || "";
        var p2 = b[property] || "";
        if (p1.localeCompare) {
            return p1.localeCompare(p2) * column.sort;
        }
        return (p1 - p2) * column.sort;
    });

Apparently localeCompare doesn't like null but it's ok with empty string.

On Mon, Mar 23, 2015 at 12:16 PM Juho Vepsäläinen <notifications@github.com>
wro

[2015-03-23 19:06] bebraw opened #22 "Implement search result highlighter"

[2015-03-25 07:03] bebraw opened #23 "Update plexus-form and improve form styling"
Now that there are better hooks in place Pure classes can be used better.

[2015-03-25 07:04] bebraw opened #24 "Update demo to use Pure 0.6.0"

[2015-03-26 03:29] eviltoylet opened #25 "Add more robust test suite"
Since the API is getting close to final, I'll start adding in tests.

[2015-03-26 04:26] bebraw opened #26 "Inject Markdown directly to index"
Now it goes through React which isn't ideal.

[2015-03-26 08:17] #22 closed

[2015-03-26 08:46] #20 closed

[2015-03-26 08:46] #24 closed

[2015-03-26 08:49] bebraw commented on #13
This is actually an issue still but just for input. I guess we'll need to tweak the implementation of the text editor to take prop changes in count correctly. That should fix it.

[2015-03-26 08:53] bebraw commented on #25
Great. I merged the work to master and set up eslint. Feel free to do your work directly there. As long as eslint passes I'm fine.

[2015-03-26 09:35] bebraw commented on #26
It's not possible to implement this trivially yet. The problem is that `html-webpack-plugin` doesn't allow content like this to be injected yet. There are some PRs that will likely fix the issue, though.

Related: https://github.com/ampedandwired/html-webpack-plugin/issues/11 .

[2015-03-26 10:53] #19 closed

[2015-03-26 10:53] #21 closed

[2015-03-26 11:28] #23 closed

[2015-03-26 16:31] #13 closed

[2015-03-26 19:17] eviltoylet opened #27 "full_table.jsx still uses annozip"
full_table.jsx still has a require statement for it

[2015-03-26 19:29] #27 closed

[2015-03-27 20:13] bebraw opened #28 "Figure out how to make edit work with search results"
1. Search for something
2. Hit edit (next to X)
3. Note values. These probably don't match so we are editing the wrong entry here.

This might be something with the demo but it's still worth investigating before a release.

[2015-03-27 20:14] bebraw commented on #28
Note that also delete appears to be broken in this case.

[2015-03-28 19:13] bebraw commented on #28
This is also a problem with pagination (ie. hit some page + edit). I guess there's something going on with indexing (starts from zero per page, not from real index).

[2015-03-30 10:22] bebraw commented on #28
I understand what's going on here now. Our dataflow goes like this in the full example:

1. Original data
2. Data filtered by search. Currently this filtering happens **only** when search query changes. By default search data points at the original data in our demo.
3. Paginated search data. Table will consume this.

The problem here is that edit/delete loses track of original data ids. In case of

[2015-03-30 10:58] bebraw opened #29 "Use specific imports for lodash"
Ie. instead of `var _ = require('lodash')` the imports should be more specific like `var findIndex = require('lodash/array/findIndex')`.

This should help with demo build size etc. I'm not totally sure how well Uglify dead code removal actually works so this doesn't hurt.

Reference: https://github.com/lodash/lodash/tree/3.6.0-npm .

[2015-03-30 11:51] #28 closed

[2015-03-30 11:55] #29 closed

[2015-03-31 10:32] bebraw opened #30 "Reactabular 0.5.0-beta2 is out"
You should be able to install it using `npm install reactabular@beta`. The current project README and demos are up to date. `gh-pages` hasn't been updated yet.

@eviltoylet, @spincycle please have a look if you have time.

[2015-03-31 10:36] bebraw opened #31 "Treat lodash as an extern instead?"
I noticed the lodash functions we depend upon bloat the dist version quite a bit (18k for minified). Would it make sense to convert lodash into a peer dependency and let Webpack depend on it as an extern (not included in the bundle)? Any thoughts?

I guess this would allow underscore to be plugged in provided the API and behavior is exactly the same and we're relying on functionality both provide.

[2015-04-06 17:22] eviltoylet commented on #30
Great job! Looks pretty good to me :)

[2015-04-06 17:27] bebraw commented on #30
@eviltoylet Any thoughts on #31?

[2015-04-07 07:23] bebraw commented on #30
0.5.0 is out now!

[2015-04-07 07:23] #30 closed

[2015-04-07 16:55] eviltoylet commented on #31
18K for minified?! Wow. I think it's definitely a smart move to declare lodash as an external dependency in Webpack. However, I'm not so sure about declaring it as a peer dependency.

[2015-04-07 17:39] bebraw commented on #31
I guess we can drop even the peer dependency. We just need to document that the library requires lodash or underscore in order to work if we turn the dependencies into an extern. I'm not sure about compatibility with underscore so that's something I have to check out.

Anyway, thanks for your feedback. I think extern is the way to go.

[2015-04-09 11:54] bebraw opened #32 "Allow styles to be passed via a property"
Idea: https://github.com/marcio/react-skylight .

[2015-04-18 15:20] bebraw opened #33 "Support grouped columns"
[Demo](https://facebook.github.io/fixed-data-table/example-column-groups.html).

I need to understand how to map this into a HTML `table` and Reactabular syntax.

[2015-04-21 20:39] eviltoylet commented on #33
Let me know if you'd like some suggestions! As usual, I'm more than happy to provide them.

[2015-04-22 05:58] bebraw commented on #33
Maybe it's better to start by figuring out data definition and API?

Here's what I expect data (individual entry) to look like for that Facebook demo:

[code]

A column definition would look like this:

[code]

Apart from that `children` entry the API would remain the same.

I'm still unsure what the generated HTML for this case should look like, though.

[2015-04-22 19:49] eviltoylet commented on #33
Just some thoughts:
- Customizing a cell at a parent could be useful. For example, applying styling when both first name and last name are the same
- Might be able to do something like this: http://www.htmlhelp.com/reference/html40/tables/thead.html

[2015-04-23 04:57] bebraw commented on #33
Maybe that can be resolved with some sort of generic hook for customizing header rendering? I'm thinking something along:

[code]

So we just overload `header` like `cell` now to add more flexibility to the system without expanding the API.

That looks good. Thanks. I suppose the math could get interesting if we want to support recursion but even one level grouping could be enough for now.

[2015-04-23 17:56] eviltoylet commented on #33
I don't think we're on the same page here. This was your proposed column definition

I'm just suggesting that we shouldn't discount customizing a cell at that parent. At that parent level, we have information that each respective children doesn't have.

[2015-04-23 18:25] bebraw commented on #33
Good point. I suppose on high level you might want to do something like:

[code]

That would give you plenty of control.

Maybe doing that `header` thing I proposed might be a good idea anyway. We could push current `header.onClick` there etc. perhaps but this sounds like another issue.

[2015-05-04 04:08] eviltoylet opened #34 "Increase cohesion of Search component"
@bebraw I'm planning on bundling the search filter logic with the search component. Any objections?

[2015-05-04 04:45] bebraw commented on #34
@eviltoylet As long as it works with Flux libs I'm fine. :+1:

[2015-05-08 17:38] bebraw commented on #34
Merged.

[2015-05-08 17:38] #34 closed

[2015-05-08 17:40] bebraw opened #36 "Expose highlighter logic"
On second thought, does exposing the logic do any good? After all you'll want to show results that matched. If highlighting logic is different than search logic, then you could end up with a table of search results without any highlights. Makes sense?

CC @eviltoylet

[2015-05-08 22:10] eviltoylet commented on #36
Well, it gets tricky. For example, if the search component is not matching case sensitivity, then the highlighter should know that it shouldn't match case sensitivity on both the query and the target to highlight. The same issue happens with the type of matching, e.g. infix, prefix, suffix. The goal is to encapsulate this without needing to pass the same data into two separate components.

I think

[2015-05-09 04:19] bebraw commented on #36
I see, that dependency is definitely a problem. As you stated, having a way to pipe search results with matches from Search component could be one way.

Note that things get a little interesting when you perform a search over backend. In that case we would have to do something different. In a case of mine the search endpoint returns whole rows paginated. For highlighting to work I will have to tra

[2015-05-10 22:47] MMore opened #38 "Invariant Violation: addComponentAsRefTo(...): Only a ReactOwner can have refs"
Hi,

I tried the part "Searching a Table" from the readme file, but keep getting the following error:

    Uncaught Error: Invariant Violation: addComponentAsRefTo(...): Only a ReactOwner can have refs. This usually means that you're trying to add a ref to a component that doesn't have an owner (that is, was not created inside of another component's `render` method). Try rendering this component i

[2015-05-10 23:10] eviltoylet opened #39 "Updates are delayed until the next render()"
The following changes aren't being reflected on the render correctly in the demo:
- inline/modal editor
- sorting when search term is present

[2015-05-10 23:12] eviltoylet commented on #38
What version of reactabular are you using?

[2015-05-10 23:21] eviltoylet opened #40 "Need to remove confusion around the README.md file"
There's the README.md in GitHub and the one that's actually published on GitHub pages. We need to start considering a strategy where people can see the README that corresponds with the version that they're using.

@bebraw thoughts?

[2015-05-10 23:25] MMore commented on #38
The current one v0.5.2.

[2015-05-10 23:31] eviltoylet commented on #38
How are you rendering `TestTable` and anything that renders it? The entire ancestry tree rendering the `Search` component has to use `render()` because of our usage of `ref`s.

[2015-05-10 23:44] eviltoylet opened #41 "Remove the usage of refs inside the Search component"
See if we can remove the usage of `ref`s inside the Search component. This will give us more flexibility on how our component can be rendered. See issue #38.

[2015-05-11 04:27] #36 closed

[2015-05-11 04:28] bebraw commented on #41
I think we can achieve this easily by altering change handling and tracking state within the component itself. Do you want to give it a go or should I patch it?

[2015-05-11 04:29] bebraw commented on #40
That's a very good point.

What if we had a separate `dev` branch? All PRs should probably go against that. `master` would contain only stable code (merge from `dev`).

We could go into a branched model after the next stable release.

[2015-05-11 04:34] bebraw opened #42 "Clean up configuration"
Just need to move config to project root (webpack.config.js) and point to it using env.

[2015-05-11 04:34] bebraw opened #43 "Set up `npm run version` script"
Pretty much the same as in [boilerplate](https://github.com/survivejs/react-component-boilerplate). This way there's no need to generate dist etc. explicitly. The script will deal with that.

[2015-05-12 02:09] #41 closed

[2015-05-12 06:11] eviltoylet commented on #38
@MMore are you still running into this issue? Please let us know so we can help you out more.

The use of `refs` will be removed for the next version, so this shouldn't be an issue in the near future.

[2015-05-12 07:27] #42 closed

[2015-05-12 07:27] #43 closed

[2015-05-12 07:34] bebraw opened #45 "Getting `Each child in an array should have a unique "key" prop.` for FullTable demo"
If I run the demo I get a warning. Looks like this is related to something in `FullTable` example. Note that if you remove the search control from `FullTable` no warning appears.

[2015-05-12 08:37] #31 closed

[2015-05-12 08:38] bebraw opened #46 "Separate vendor bundle out of demo and attach hash to it"
Idea: https://christianalfoni.github.io/react-webpack-cookbook/Split-app-and-vendors.html . Just `CommonsChunkPlugin` and some smaller tweaking.

[2015-05-12 09:20] #46 closed

[2015-05-12 17:19] MMore commented on #38
I am using [react-rails](https://github.com/reactjs/react-rails#rendering--mounting). I will test it within the next days! Thanks for your help!

[2015-05-13 18:35] eviltoylet commented on #45
This is coming from the highlighter formatter.

[2015-05-13 18:37] bebraw commented on #45
Yeah, I guess those children might need unique keys. Just `highlight + i` or something.

Any particular reason why it's not in JSX?

[2015-05-13 21:18] eviltoylet commented on #45
No particular reason. Just started as `React.createElement` and didn't realize it wasn't JSX.

[2015-05-13 21:35] eviltoylet commented on #40
Yeah, I like that idea. Once code is merged into master, the whole publishing workflow should be run.

[2015-05-14 04:33] #45 closed

[2015-05-14 20:44] ConAntonakos opened #49 "Pagination broken after searching"
Performing a search, then clicking on the paginated numbers, breaks the pagination whereby they are duplicated on either side of the ellipsis.

[2015-05-14 20:45] bebraw commented on #49
@ConAntonakos Just to clarify, are you testing against NPM version or master?

[2015-05-14 20:47] ConAntonakos commented on #49
Thanks for your reply, @bebraw. Sorry for the confusion. This is actually on the demo page.

[2015-05-14 20:47] bebraw commented on #49
[The pagination widget](https://github.com/bebraw/react-pagify) did have some smaller issues which I've been patching since the online demo of Reactabular was released. I can see the issue you mentioned about there.

I suppose I'll leave this open till 0.6.0 is out and we'll have another look.

[2015-05-14 21:19] martijnvermaat opened #50 "Sticky headers"
When I wanted to implement a sticky header on a HTML table, I was a bit surprised that this seems quite hard to implement. Most solutions I could find use JavaScript and modify the DOM. I couldn't find anything ready to integrate with React.

I couldn't think of a generic way to implement this properly in React outside of the component actually rendering the table. The next best thing would be imp

[2015-05-15 04:37] bebraw commented on #50
I gave it a quick go through CSS. This is what I ended up with:

[code]

This gets you 90% there. The widths won't add up (takes content width). There are likely ways around this (ie. set relative widths and so on). Here's more info about the topic: https://stackoverflow.com/questions/17067294/html-table-with-100-width-with-vertical-scroll-inside-tbody .

I have a strong feeling it's possible to i

[2015-05-15 09:52] martijnvermaat commented on #50
Thanks, that's a very nice SO answer. Unfortunately all of these approaches have some other downsides.

You suggestion is actually not really a sticky header (by sticky I mean that scrolling is on the window, and the header gets fixed only when it reaches the window top), but I would be happy with something like that. The main problem is indeed with the column widths (the 10% ;)). You could set th

[2015-05-15 12:58] bebraw commented on #50
Oh, I see what you mean now. :+1:

Not yet. This capability can be developed. We just need to figure out a sane API for it. One way to grow it would be to allow `header` prop to accept an array. Each item would map to a header row. This is analogous the way we are dealing with data right now. I think something like this would work:

[code]

That would render a row with column names like right now

[2015-05-15 16:40] martijnvermaat commented on #50
Yes, that would definitely work for me. This also looks generic enough to support other use cases as well.

I'm wondering if it would make sense to do the same thing for footers (not relevant to my specific problem). I like the very straightforward current API for footer, but it's a bit asymmetric in the sense that it cannot easily be generalized to support other positions that the footer.

[2015-05-15 16:47] bebraw commented on #50
Yeah, it would make a lot of sense. After these changes we should have a nice little API together that allows you to achieve quite a bit.

[2015-05-15 17:16] djamshed opened #51 "Republish on npm"
Coming across some of the closed issues when using rectabular thru npm (same version, but more than a month behind the latest).

[2015-05-15 17:19] bebraw commented on #51
A release is close. #39 seems to be the biggest blocker.

Thanks for the heads up!

[2015-05-15 17:30] bebraw commented on #39
The problem is that sorted data and search data are two separate things in the demo. What if we treated sorting as a filter at `render()`? I think that would solve it. Now sort is imperative (triggered on click) which causes the problem.

[2015-05-16 00:26] eviltoylet commented on #39
Yup, I'll allocate some time to fix this tonight.

[2015-05-16 04:41] bebraw commented on #39
One way is to deal with all the filtering at `render()`. `Search` would just expose some basic filtering mechanism you would hook into. At render you would execute a pipe like this: data -> search() -> sort() -> paginate(). That's probably not very performant but it would work for something simple like this and resolve our issue effectively.

This filtering logic can be easily pushed behind some F

[2015-05-16 05:21] eviltoylet commented on #39
I do have a bandaid to make the demo work, but it definitely doesn't seem like best practice and isn't the most performant.

Having `Search` encapsulate the filtering doesn't quite work as mentioned above. I tried to fix this by using one of the component lifecycle methods (e.g. `componentWillReceiveProps(nextProps)`) to trigger the filtering. If I called the passed in `onChange` handlers, an infi

[2015-05-16 05:35] bebraw commented on #39
Would it help if pushed abstraction level up a notch? Now `sortColumn` and `search` return full data structures. What if instead they would provide something more meta? Ie. both would return lists of indices. You would then use this information at `render()` to construct an actual structure (ie. filter using search + sort based on sort indices). Do you think this would make sense?

This would be s

[2015-05-16 05:45] eviltoylet commented on #39
Yeah, i think this is the right way to go. However, we should provide that pipeline as a core component.

It seems really exciting! I can imagine having multiple search components piped together.

[2015-05-16 05:47] bebraw commented on #39
Just realized there are two corner cases we need to worry about - adding and removing content. The index scheme can deal with latter easily. In the former case it gets more complicated. Maybe this just means search/sort logic needs to be triggered when you are modifying data.

I hadn't thought of that. I suppose you could easily have a search field per header cell this way if you wanted.

[2015-05-16 05:52] bebraw commented on #39
I wonder what the API for that should look like exactly. We can have various components output indices and we can modify those on add/remove so the data stays consistent. The question is what the gluing part should look like. Maybe something like this?

[code]

`combine` would just do something like `data.filter((v) => indices.indexOf(v.id) >= 0)` per each.

[2015-05-16 21:55] eviltoylet commented on #39
I don't see adding and removing content as that complicated as long as we always call `setState()` to force a render. The only thing I would change is not make `combine` take varargs, but rather an array. This solution may be overkill.

Honestly, this doesn't need to be solved now and may be out of scope for this library. This problem only exists because the demo has a lot of functionality.

[2015-05-16 22:31] eviltoylet commented on #50
@bebraw I like the semantics of that design. If we want more rows, simply add another object into the array.

I do have some concerns about how easy that would be to work into the existing code though. We should probably think about how this may fit in with grouped columns.

[2015-05-17 08:01] bebraw commented on #50
Definitely.

Here's how it would work out:

[code]

Then you have to do a similar thing for column cells and possibly footer. Even though this is a lot of code if we provide this sort of extension mechanism, you can push a lot of this behind a nice API. Maybe we can provide some starting point with the library itself.

I think we're doing things right if we can think Reactabular as a scaffolding o

[2015-05-17 15:08] MMore commented on #38
Now I have another error: `Uncaught TypeError: Search.search is not a function`. Maybe I understood the examples wrong, but in the readme in section **Searching a Table** a function `search` of the object `Search` is used. See my code above. Any idea?

[2015-05-17 16:25] bebraw commented on #38
Great. Closing. Still a little bit of work before we can push `0.6.0` out.

[2015-05-17 16:25] #38 closed

[2015-05-17 19:06] bebraw commented on #39
Yeah, I can make the signature like `combine(this.state.data [...])`. Simpler API and a little easier to implement.

True. I have a feeling demo/docs need to be rethought at some point. Now it's getting a little unwieldy and doesn't illustrate possibilities in the best possible way.

I'll try doing a little branch with the fix in the coming week. Also need to investigate the edits. It's likely som

[2015-05-18 19:53] eviltoylet commented on #50
:+1:

[2015-05-24 18:10] bebraw commented on #39
Okay, this was one tiring week! I'll have another go at it next week. Sorry for the delay. A lot of things going on.

[2015-05-28 14:42] daannijkamp opened #54 "Custom Search Component"
For a project I want to use the search component. Only I need to remove some parts like the select and the surrounding <span> element
[code]

[code]

How can I achieve that?
If I copy reactabular src in my project and do my change, I will get this error:
[code]
What am I doing wrong?
[code]

[2015-05-28 14:59] bebraw commented on #54
You have to import `Search` from reactabular for `Search.search` to work. Ie. something like this:

[code]

I hope that helps.

[2015-05-29 09:48] daannijkamp commented on #54
:cry:
After a put something in the input field. The data state will be empty.
![screenshot from 2015-05-29 11 24 47](https://cloud.githubusercontent.com/assets/1774060/7879954/6265d26a-05f5-11e5-919b-551c8cc58bc8.png)
(Search State, Column State, Data state)

[2015-05-29 10:04] bebraw commented on #54
@daannijkamp Can you set up a little repo for me to study?

The API will likely change soon but it still would be nice to get it work for you.

[2015-05-29 11:29] daannijkamp commented on #54
Thanks!
https://github.com/daannijkamp/reactabular-test/

[2015-05-29 11:59] bebraw commented on #54
@daannijkamp Try this:

[code]

The problem was that it wasn't dealing with the search state correctly. That's why `search` didn't filter using the correct values.

Feel free to close if this works for you.

[2015-05-29 12:58] daannijkamp commented on #54
-_-
Cannot read property 'setState' of undefined

[2015-05-29 13:19] bebraw commented on #54
@daannijkamp https://github.com/bebraw/reactabular-test . There's the fix that worked for me. Maybe there was a typo or something?

[2015-05-29 13:23] bebraw commented on #39
@eviltoylet I set up a branch for this work. Now `Search` has been separated from filtering logic. Same goes for `sortColumn`. I split it up as well.

Unlike discussed above in both cases the logic takes in a structure and returns a new structure. The benefit of this is that you won't run into indexing problems (ie. if data has appearead, there's no need to update indices).

The split structure ma

[2015-05-29 13:31] daannijkamp commented on #54
Found it... it was because i'm using ES6.  @bebraw thank you very much for all your help!

[2015-05-29 13:31] #54 closed

[2015-05-29 13:46] bebraw commented on #54
@daannijkamp Great to hear you solved it! Btw please check out my Webpack/React book for some inspiration, http://survivejs.com/.

[2015-06-01 19:57] eviltoylet commented on #39
:+1: I like this strategy. Originally I was hoping to encapsulate everything in the same component, but that seems to have caused more trouble than it was worth. I think if we really want that super easy to use component, we can just wrap these things as one.

[2015-06-02 13:10] #39 closed

[2015-06-02 13:58] bebraw commented on #51
@djamshed I published `0.6.0` beta. If you want to have a look, please try `npm i reactabular@beta`. The current README is based on that version although we intend to change this from now on (separate dev branch).

[2015-06-02 14:02] bebraw opened #55 "Reactabular 0.6.0-beta1 is out"
In case someone wants to have a go before a final release, hit `npm i reactabular@beta`. That should fetch the beta version. There are a couple of semantic changes covered at README. If this works well, I'll publish a stable release in a few days.

After that I'll focus on getting `0.7.0`. It will bring further customization possibilities (for header and footer mainly). We'll also split developmen

[2015-06-04 05:52] bebraw commented on #51
`0.6.0` is up now.

[2015-06-04 05:52] #51 closed

[2015-06-04 05:52] bebraw commented on #49
It should work now. I fixed the issue at `react-pagify` and included that the current version of demo.

[2015-06-04 05:52] #49 closed

[2015-06-04 05:54] bebraw commented on #40
Set up a `dev` branch. Not much there yet, though.

[2015-06-04 05:54] #40 closed

[2015-06-04 05:54] bebraw commented on #55
Went ahead with a full release. `0.6.0` is out now.

[2015-06-04 05:54] #55 closed

[2015-06-04 05:55] bebraw commented on #26
This can be solved easily once https://github.com/ampedandwired/html-webpack-plugin/pull/41 gets merged.

[2015-06-04 14:27] djamshed commented on #51
Great, thanks!

[2015-06-07 10:12] bebraw opened #56 "Figure out nice semantics for attaching handlers per row"
To quote @utdemir at https://github.com/bebraw/reactabular/commit/2837cc9c6de070fb3f19831a81ab092dc6f6ae1a#commitcomment-11556460 .

[code]

We probably want to expose `tr`'s somehow to make this happen. Need to figure out where/how to do that most naturally.

[2015-06-07 10:31] utdemir commented on #56
Also, the same applies to `className={this.state.threatId == data[rowIndex].id ? "active" : "" }` line, I want to make the whole row `active`, exposing tr's would solve that too.

Thanks again.

[2015-06-10 16:45] utdemir commented on #56
Hey, if you're able to figure out a nice API, I'm willing to implement this feature.

[2015-06-10 18:06] bebraw commented on #56
@utdemir Cool. It doesn't seem like that big of a change to make. Here's a rough spec:

[code]

On implementation level you would apply that on `tr`s (both header and content) like `<tr {...this.props.row}>`.

I have a feeling that could be a starting point. Please tweak to fit your purposes. Also work against `dev` branch if possible. That will make it easier to deal with the merge.

[2015-06-10 18:38] eviltoylet commented on #56
The introduction of this knob introduces yet another set of complexities that need to be addressed. I'd prefer to avoid it.

As Utku demonstrated above, the library already has the power to express row handlers, albeit a bit cumbersome. What if we were to provide some helpers?
- apply the same cell formatter to all columns
- have a decorator which will apply a formatter to a given column/row

[2015-06-10 19:21] bebraw commented on #56
That's definitely true!

As you suggested some sort of helpers could work. I started thinking it from another direction. Currently we have nice semantics for dealing with columns. Data is per row. And that's where the weakness is. What if we agreed on some convention that allowed you to put row `props` within the data? I mean something along this:

[code]

This approach would avoid that extra prop

[2015-06-10 22:30] utdemir commented on #56
@eviltoylet

I have to disagree with that. For example; just this afternoon I wanted to highlight to a row. At first, I put a background color to every cell on that row:

* The paddings between two cells is empty and need many CSS tricks concatenate them.
* Even if the the cells look together and have the same height, the contents had different heights. I had to play with CSS a little more to give

[2015-06-11 06:58] bebraw commented on #56
I have a proof of concept at `dev` branch. I went with the `row` prop as it seemed like the easiest way to get this resolved. It's true something could have been built on top of the current cell API but this was the easiest way to get forward. We can revisit this later if it starts to feel like a kludge or causes some complications elsewhere.

@utdemir Can you have a look? If this is fine, I'll pu

[2015-06-11 16:47] eviltoylet commented on #56
@utdemir agreed. Thanks for presenting like that :)
@bebraw great work as always!

[2015-06-13 16:45] #56 closed

[2015-06-13 17:38] utdemir commented on #56
@bebraw Sorry for not answering, I didn't had time to look into it.

Thanks for this great library!

[2015-06-13 17:54] bebraw commented on #56
@utdemir No probs! I just published `0.6.4` that contains the feature. :+1:

[2015-06-15 17:51] bebraw opened #57 "Port tests to use shallow rendering"
See http://simonsmith.io/unit-testing-react-components-without-a-dom/ . Looks like this is the preferred way in the future.

[2015-07-10 13:15] invoke-git opened #58 "Reactabular is slooooooow"
We've detected a massive performance problem with reactabular.  We have a table with 600 rows of 6 columns: a link column, a text column, 2 datetime columns (displayed as text) , and a column with a trash can icon.  We observed times of up to 3.8 seconds to render this table.  We did a test and replaced reactabular with simple div-based rendering and it rendered in 300ms.  We're using react isomor

[2015-07-10 13:58] bebraw commented on #58
Thanks for letting me know! I'm using it with pagination while showing only a small amount of data. The library hasn't been optimized when it comes to performance. It was more about providing a flexible API. As far as I understand Facebook's [FixedDataTable](https://facebook.github.io/fixed-data-table/) has focus on performance.

That said if we can find some ways to make Reactabular perform faste

[2015-07-10 14:01] invoke-git commented on #58
Yeah we'll be implementing pagination on this table so it will be less visible in the future.  Right now we're pre-release so we're not going to make any changes or investigate at the moment but as we get closer to it mattering we'll look into it further.

[2015-07-10 14:07] utdemir commented on #58
Just for information: We're using reactabular 0.6.3 showing about 900x2 table on client side without pagination(but using onClick handles, styles, search etc.), it loads instantly.

So, maybe the problem is in server-side rendering or column count.

[2015-07-13 10:41] nuragic opened #59 "Use a stable sort algorithm"
Hi!

```Array.prototype.sort()``` is NOT stable... https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/sort :cry:

That is causing unexpected results when sorting... Luckily we can use ```_.sortBy()``` instead! https://lodash.com/docs#sortBy :smile:

It's ok for you to make the switch?

Thanks!

[2015-07-13 10:52] bebraw commented on #59
Sure! PR is welcome.

[2015-07-13 12:26] nuragic commented on #59
Ok! Working on it :)

[2015-07-13 12:45] nuragic commented on #59
@bebraw I've just launched `npm test` (without making any change) and I get:

![captura de pantalla 2015-07-13 a las 14 38 49](https://cloud.githubusercontent.com/assets/1586378/8649697/f700bf12-296c-11e5-8a28-30c818791e09.png)

:confused:

[2015-07-13 13:39] bebraw commented on #59
@nuragic That's something Jest related likely... I nuked my deps and reinstalled them and the tests worked for me. I suppose that's one more reason to drop Jest from this project.

Can you try to replace the sorting function with this?

[code]

If this works well for you, we can go with it.

[2015-07-13 16:57] eviltoylet commented on #59
I've seen that error before and I think it has to do with the version of node and jest. I don't think it's compatible with 13 yet.

[2015-07-14 07:33] cameront opened #60 "Recommended way to construct cell function for nested json object?"
Thanks for the awesome library! I'm just trying to incorporate reactabular into a project today, and I've run into a bit of an issue.

I have a json object that comes back from some remote API which contains nested objects. I was expecting that I could just use the 'cell' function to render a complex object (e.g. a nicely named link), but I've become confused about the way that reactabular renders

[2015-07-14 07:42] cameront commented on #60
OF COURSE I have an epiphany 30 seconds after hitting send.

So I'm assuming that the isPlainObject() case is trying to account for objects returned with properties that should be passed along to the rendered table cell? In that case, it's still not clear to me why the cell function is called on those values as the object is merged.

What I'll do is just mail a PR that explains my thinking -- and

[2015-07-14 07:54] bebraw commented on #60
@cameront Yeah, I never really thought about nested cases like that and it's quite possible there's some stupid check against that. I agree

[code]

would seem natural approach to me and it would be nice if that worked.

PR is welcome! Note that Jest won't work with Node 0.12 though 0.10 is known to work.

[2015-07-14 07:55] nuragic commented on #59
@bebraw I have a simpler one, basically:

[code]

I'll push it today if I'm able to solve that weird jest error...

P.S. multi-column ordering would be very nice to have later :)

[2015-07-14 08:01] bebraw commented on #59
@nuragic Ah, cool! That should be more effective too. :)

I agree on multi-column ordering. I wonder if that's possible with the current setup.

[2015-07-14 16:38] #60 closed

[2015-07-14 16:45] bebraw commented on #59
Implemented in `0.6.5` (currently in beta).

[2015-07-14 16:45] #59 closed

[2015-07-14 16:47] bebraw opened #63 "0.6.5-beta available"
I pushed out a new beta (use `npm i reactabular@beta` to get it). There are two important changes:

1. Sorting should be stable now if you use one of the provided functions
2. Cells should be able to render nested properties now

Let me know if you encounter any issues.

[2015-07-15 06:32] bebraw opened #64 "Simplify cell rendering algorithm"
To quote @cameront:

I don't mind changing the editor implementation to make this work. I recall part of the complexity of the current version is exactly due to that.

[2015-07-22 17:58] bebraw opened #69 "Implement a proper documentation site"
I feel the current README is getting unwieldy. If it was possible to keep that simple enough perhaps we could drop `dev` branch and go back to working against `master`. That's a little confusing to potential authors as most of the other projects work against `master`.

Most likely I'll need to extend [Antwar](https://antwarjs.github.io/) to support this scenario well enough. Now it's a little lack

[2015-07-22 17:58] bebraw commented on #58
@invoke-git Any chance you could set up a little example for me to study? I would love to understand what's making it slow in your case.

[2015-08-02 08:28] bebraw commented on #63
0.6.5 is out now. Thanks a lot to new contributors!

[2015-08-02 08:28] #63 closed

[2015-08-03 13:20] mikesperber opened #70 "Distribution artifacts broken?"
I'm trying to use Reactabular in a ClojureScript application (so I'm not using npm), and am trying to use the artifacts in `dist` in my HTML file like so:

[code]

That gives me:

[code]
... for this bit of code at the very beginning:

[code]

Am I doing something wrong?

[2015-08-03 13:29] bebraw commented on #70
Reactabular depends on lodash/underscore.

One option to get rid of that requirement would be to bundle the dependencies. That would bloat the bundle a little but it would make it easier to consume.

[2015-08-03 13:40] mikesperber commented on #70
Thanks for the quick turnaround!

So what exactly would I need to include along with `reactabular.js`?

I've added `lodash.min.js`, but the problem persists.

[2015-08-03 14:12] bebraw commented on #70
Good question. The [dist build](https://github.com/bebraw/reactabular/blob/master/dist/reactabular.js#L1) contains UMD wrapper so there are actually a couple of options. It looks like it seeks lodash through `root["lodash"]` (`root` points at `window`). I suppose that's the issue.

I could change the dist build to generate `root["_"]`. Maybe that would be nice here.

Can you try these adjustments?

[2015-08-03 14:20] mikesperber commented on #70
Thanks, that gets me further - to "React is undefined". Now I suppose I need to figure out how to convince ClojureScript to sqeeze React between Reactabular and my code?

[2015-08-03 14:24] bebraw commented on #70
Likely yes. There's a declaration like `root["react/addons"]`. I expect we might need to have `root["React"]` or similar for Reactabular to find React through a global.

Let me know if this does the trick. Once we get this working I'll do these changes to the distribution version. It's far easier to consume Reactabular through npm but it's definitely nice if we have a sane dist bundle out there.

[2015-08-04 12:40] mikesperber commented on #70
`root["React"]` indeed works, thanks! Now with that in place, how do I get at the binding for `Table` itself?

[2015-08-04 12:50] bebraw commented on #70
@mikesperber I think you should be able to see something through `Reactabular` global (the code performs `exports["Reactabular"]`).

I'll tweak `root` for the next version so you don't have to patch these by hand.

[2015-08-04 13:38] mikesperber commented on #70
Ah, silly me. Didn't see that somehow. Thanks!

[2015-08-26 12:01] kro12 commented on #70
Same issue here. Using Underscore.js and global '_' reference getting replaced with lodash. Great component btw, simple to implement and powerful functionality out of the box. Unfortunately I will need to go with something else for now.

[2015-08-26 15:51] bebraw commented on #70
@mikesperber @kro12 I figured out a nice fix for this. Can you have a look at [dev](https://github.com/bebraw/reactabular/tree/dev) and give it a go? See esp. [./dist](https://github.com/bebraw/reactabular/tree/dev/dist).

[2015-08-27 07:18] mikesperber commented on #70
Yup, works. Thanks!

[2015-08-27 07:26] bebraw commented on #70
@mikesperber Great to hear! I published `v0.7.0` with the change. I went for `0.7.0` to play it safe as I don't want to break someone's project in case there's some glitch in the dist.

[2015-08-27 07:26] #70 closed

[2015-09-01 20:24] emma58 opened #72 "Use tab key to navigate editable table?"
In an editable table, is there an easy way to change the focus to the next cell in the table using the tab key?

[2015-09-02 09:13] bebraw commented on #72
Good question. I expect you would have to use something to track `tab`. [react-hotkeys](https://github.com/Chrisui/react-hotkeys) could work for instance.

After you know how to track tab, you'll need to set `editProperty` of [edit.js](https://github.com/bebraw/reactabular/blob/12fc2ef47838c4a14216a39e7f9e20b7fdafef7b/src/cells/edit.js) to point at the cell you want to edit.

You can see a rough e

[2015-09-03 04:32] bebraw opened #73 "Make sure editor state updates while filtering at demo"
To quote @cresh:

[2015-09-03 14:43] Tjorriemorrie opened #74 "Inline editing confusing"
Is there a working example for the inline editing? I can't get it to work and the documentation doesn't help to explain it at all to a newcomer to react. Where do I do my update to the backend, etc.

[2015-09-03 14:53] bebraw commented on #74
Hi,

If you look at the `full_table` demo, you'll find a snippet like:

[code]

The example operates based on local data. When you have a backend in place, you would trigger your action updating backend here instead of doing `this.setState`. This assumes you have Flux or similar architecture.

Each part of Reactabular that operates with local data would have to be patched like this. There are enou

[2015-09-08 10:48] ranjan653 opened #75 "How to Implement React Tabular"
Hi @bebraw How can I implement ReactTabular in tomcat server .

And how can I achieve React-Tabular features in my tomcat project. I am using react-bootstrap with bower-component.
Could you plz suggest

[2015-09-08 14:40] bebraw commented on #75
Hi,

I don't have any server specific advice to give. It is likely the best if you can consume it through npm.

Do you have some particular problems with it?

[2015-09-08 16:27] ranjan653 commented on #75
Hi I can download code from Github but how to implement in my project.

On Tue, Sep 8, 2015 at 7:40 AM, Juho Vepsäläinen <notifications@github.com>
wrote:

[2015-09-08 16:28] ranjan653 commented on #75
Could you please provide one example in single page with library so that I
will be grateful to u.

On Tue, Sep 8, 2015 at 9:27 AM, Ranjan Gochhayat <ranjan653@gmail.com>
wrote:

[2015-09-08 17:54] bebraw commented on #75
Hi,

The [demos](https://github.com/bebraw/reactabular/tree/master/demos) and the [README](https://github.com/bebraw/reactabular/blob/master/README.md) might be your best bets. Once you understand how various parts work together, it gets easier to use. It's one of those libraries you have to spend some time assembling to fit your purposes. :+1:

[2015-09-08 18:02] ranjan653 commented on #75
Hi that I have read but how to achieve

var Search = require('reactabular').Search;

I have problem with require.

Please help me, otherwise my job will be in trouble.. I have to
implement reactabular.

On Tue, Sep 8, 2015 at 10:54 AM, Juho Vepsäläinen <notifications@github.com>
wrote:

[2015-09-08 18:09] bebraw commented on #75
What kind of problem? Can you provide more context or an error? If you can, please set up a little example on GitHub for me to study.

[2015-09-08 18:21] ranjan653 commented on #75
Hi Please find it.

"ReferenceError: require is not defined".

I have download the code from Git:-https://github.com/bebraw/reactabular

But in single page how to implement it.

Like below

<script src="DatePicker/datepicker-ui.js"></script>
<script src="bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet"
href="boot

[2015-09-08 18:55] ranjan653 commented on #75
Hi, which library will implement so that require will be available and
easily achieve

like

var Search = require('reactabular').Search;

On Tue, Sep 8, 2015 at 11:21 AM, Ranjan Gochhayat <ranjan653@gmail.com>
wrote:

[2015-09-08 19:04] bebraw commented on #75
Ah, I see the problem now.

[code]

assumes that you operate within a Webpack environment. Similar would work for Browserify as well.

It might work better for you to work against the [dist](https://github.com/bebraw/reactabular/tree/master/dist) version. Then you can do something like this:

[code]

[code]

This assumes you copy `reactabular/dist/reactabular.min.js` below your `js` directory. As

[2015-09-09 13:06] ranjan653 commented on #75
Hi @bebraw , Thanks a lot for your help.

I am able to implement
var Search = Reactabular.Search;
var Table = Reactabular.Table;
but how to Implement
var highlight = require('reactabular/formatters/highlight');

I have highlight.js file in formatters what should write instead of  require('reactabular/formatters/highlight')

[2015-09-09 13:15] bebraw commented on #75
1. I provide some very [basic styling](https://github.com/bebraw/reactabular/blob/master/style.css) you can copy. Ideally you'll write something to suit your purposes. You can also attach custom classes to the elements as you need.
2. I think `var highlight = Reactabular.formatters.highlight` should work. Note that you can inspect the object in browser through `console.log(Reactabular)` to figure

[2015-09-09 13:24] ranjan653 commented on #75
Thanks.

You have mention
data = sortColumn.sort(data, this.state.sortingColumn);
What sortingColumn includes.

could you please provide a simple example contains
Table contains paging inline editing, row edit, search,sorting

Your actual example contains less items, to make understand difficult. Plz.........

[2015-09-09 13:51] bebraw commented on #75
There are two parts to that. I.e. in demo I do:

[code]

If you look at [the code](https://github.com/bebraw/reactabular/blob/master/src/sort_column.js), you can see it resets class state and adjusts the state of the selection. That's why we do `setState` finally.

`sortColumn.sort` operates based on this during rendering to actually filter the data. This gives that `data = sortColumn.sort(data, t

[2015-09-10 06:43] ranjan653 commented on #75
Could you please prepare one example having paging inline editing, row edit, search,sorting, remove row for me , when you are free.

Its very important for me.

[2015-09-10 06:48] bebraw commented on #75
Hi,

[The full table](https://github.com/bebraw/reactabular/blob/master/demos/full_table.jsx) demo is probably the closest I can get on a volunteer basis. It has all the basic bits.

The way you implement Reactabular in your project depends on architecture (Flux, whatnot) so it's hard to give a single example that would work for each possible case. It's important to understand how the individual p

[2015-09-10 06:58] ranjan653 commented on #75
Hi I have that file full_table.jsx. How i can achieve in my jsx
var FullTable = require('./full_table.jsx');

It contains so many require command how can i avoid it.

var Form = require('plexus-form');
var validate = require('plexus-validate');
var SkyLight = require('babel!react-skylight/src/skylight.jsx'); // XXX: no proper build yet
var generators = require('annogenerate');
var math = require('

[2015-09-10 07:06] bebraw commented on #75
You can access all parts of the library through `Reactabular` global in your case. So instead of doing something like `var editors = require('../src/editors');`, you would go through the global instead. The global contains an object that maps to the functionality. You can try inspecting it through Chrome Inspector or a similar tool to understand how it has been laid out.

[2015-09-10 07:14] ranjan653 commented on #75
What I am trying to say I made a JSX file
I want to include this
var FullTable = require('./full_table.jsx');

What should write here instead of require('./full_table.jsx');

[2015-09-10 07:25] bebraw commented on #75
It might be beneficial to pick up a module bundler to deal with all that. I go through a nice [Webpack](https://webpack.github.io/) based setup at [my book](http://survivejs.com/webpack_react/introduction/). Alternatively you could look into [Browserify](http://browserify.org/) or [jspm](http://jspm.io/).

I know picking one up will take some time. That will allow you to use `require` etc. and end

[2015-09-10 09:22] ranjan653 commented on #75
Hi For ReactPagify I am include react-pagify.js

<script src="js/react-pagify.js"></script>
but when I am declaring Paginator like below
 var Paginator =ReactPagify.Paginator;

in console.log(Paginator ) showing undefined

[2015-09-10 09:41] bebraw commented on #75
Note that `ReactPagify` is the component itself. So you get

[code]

and so on.

Again, printing through the console helps to understand how it's structured better. You can also try importing the modules through Node cli as that gives the same result.

[2015-09-10 10:25] ranjan653 commented on #75
Can I talk over phone ?

[2015-09-10 10:26] bebraw commented on #75
@ranjan653 [gitter](https://gitter.im/bebraw/reactabular) would work. Phone is expensive. :)

[2015-09-10 10:29] ranjan653 commented on #75
Its fine for me can we..

[2015-09-10 10:47] ranjan653 commented on #75
Hi I am on the way  to implement your ReactTabular full_table.jsx

Can you provide some information to implement below things with library. I have
field_wrapper.jsx,section_wrapper.jsx,generate_data.js  and I have added like
<script src="js/reactabular.min.js"></script>

How to add for below things

var Form = require('plexus-form');
var validate = require('plexus-validate');
var SkyLight = requir

[2015-09-10 10:59] ranjan653 commented on #75
Kindly go through my error

![error-reactabular](https://cloud.githubusercontent.com/assets/6347884/9786626/1bbd2c56-57d9-11e5-9c32-738566fe0124.png)

[2015-09-10 11:01] bebraw commented on #75
Is it possible for you to put a standalone project somewhere to study?

The demo relies on Webpack and you can get similar results with a bundler such as Browserify. These tools will evaluate `require` graphs and provide you a simple bundle you can link to. That's the way the demo works. Please see the free guide I linked to. It goes into great detail in how to achieve this. I've put a lot of time

[2015-09-10 12:31] ranjan653 commented on #75
Yes @beraw I will provide my code to review. But I am going through the docs but to complete your full table I need little help by providing some information regarding how to implement and the library.

var Form = require('plexus-form');
var validate = require('plexus-validate');
var SkyLight = require('babel!react-skylight/src/skylight.jsx'); // XXX: no proper build yet
var generators = require('

[2015-09-10 12:35] bebraw commented on #75
Getting all that work without some kind of a bundler would be pretty time consuming. It's likely better to pick up one as that will solve a lot of your problems.

[2015-09-10 12:39] ranjan653 commented on #75
I can't get you

[2015-09-10 12:46] bebraw commented on #75
I mean converting all that to a big list of `<script src="js/findIndex.js"></script>` references wouldn't be practical. You would have to look up each dependency and maintain it all by hand. npm and a bundler (webpack/browserify/jspm) can deal with all that for you. Did you check the book?

[2015-09-14 08:13] ranjan653 commented on #75
Hi Juho, I cannot access below site provided by you as well as gitter

http://survivejs.com/webpack_react/introduction/

[2015-09-14 13:50] ranjan653 commented on #75
Hi, I just go through the docs but could not find any solution that how to implement
I have generate_data.js file, but when I implemented its throwing error. As it is not finding.

var generators = require('annogenerate');
var math = require('annomath');
var properties2object = require('schema2object').properties2object;

COuld you please guide.

[2015-09-14 13:59] bebraw commented on #75
Hi,

That

[code]

part is related only the demo. You don't need to implement that. Instead, you'll pass your own data to it.

[2015-09-14 14:03] ranjan653 commented on #75
Hi,
You are right. But which library file to include,  like
<script src="js/reactabular.min.js"></script>
so that I can achieve
var generators = require('annogenerate');
var math = require('annomath');
var properties2object = require('schema2object')

[2015-09-14 14:11] bebraw commented on #75
@ranjan653 Can you set up an example repo and add instructions there to show what you need to achieve? I need to understand what sort of data you are going to show and how.

[2015-09-14 14:16] ranjan653 commented on #75
Ok, I will create a repo and upload my code there. I just want to implement your given table with all functionalities with same data. i.e data Name,Position,Country,Salary.If I will able to finish this task then will try for other.

[2015-09-15 07:21] ranjan653 commented on #75
Hi ,
Could you please go through the code that I have check-in to git

https://github.com/ranjan653/Reactabular_Ranjan/blob/master/Reactabular.html

Thanks
Ranjan

[2015-09-15 07:29] bebraw commented on #75
The main problem is that you simply cannot use `require` like that within a `script` tag. As I explained many times already, you will likely want to use a bundler to deal with all the complexity.

I've spent enough of my time on this. Can we move this to my consulting side? I can give you a fair rate.

[2015-09-15 07:29] #75 closed

[2015-09-15 07:36] ranjan653 commented on #75
Could you please let me know about the rate and how can you help me.
Is it possible to solve this problem by coding like this ?

[2015-09-15 07:44] bebraw commented on #75
@ranjan653 Can you send an email (bebraw at gmail dot com) with a basic specification of what you need exactly? The more specific you can be, the better. I'll make an offer based on that.

Note that there are more popular alternatives like [FixedDataTable](https://facebook.github.io/fixed-data-table/) and [reactable](https://github.com/glittershark/reactable). These may be easier to approach than

[2015-09-15 08:03] ranjan653 commented on #75
That's right but thing is that I need below feature.

1/ individual column sorting
2/ individual column searching
3/ each column data can edit including date picker field
4/ each row can edit with popup
5/ each row can delete
6/ paging facility
7/ scrolling
8/ Onclick ?(add row) popup  data can add to table

[2015-09-16 08:52] reggi opened #76 "Feature Request: Column header function handler"
I'm looking for a way to add a class to a column, is this possible?

[code]

[2015-09-16 09:11] reggi commented on #76
I'm trying to mimic the functionality below, one heading is an element, and the other has a carrot (added by class).

![screen shot 2015-09-16 at 5 07 28 am](https://cloud.githubusercontent.com/assets/296798/9900817/5663d5ce-5c31-11e5-855c-aba855171a9d.png)

Ideally `header` could be a function handler like cell and I can return a JSX element from there.

[code]

[2015-09-16 10:51] ranjan653 opened #77 "How to hide a column in Reactabular?"
I have data and column like below. I want to hide one column i.e.followers

var data= [
    {
        name: 'React.js',
        type: 'library',
        description: 'Awesome library for handling view.',
        followers: 23252,
        worksWithReactabular: true,
    },
    {
        name: 'Angular.js',
        type: 'framework',
        description: 'Swiss-knife of frameworks. Kitchen sink not

[2015-09-16 13:07] bebraw commented on #77
The simplest way to achieve that is simply to remove the column you don't need to show from your column definition. You probably need some other logic to control this if you need to show the column again. That's something you can solve on React's side. `Table` just shows what you pass to it.

[2015-09-16 13:09] bebraw commented on #76
I think #65 should allow the customization you need. Gotta poke that.

[2015-09-16 13:11] ranjan653 commented on #77
Hi, @bebraw ,that's one point of view. But I have one ID, through which I can edit and delete the row i.e back-end operation.

[2015-09-16 13:16] bebraw commented on #77
I think you'll still have access to the id even if you don't show the id column at all. If I understand right, just removing the id from column definition should do the trick.

[2015-09-16 13:22] ranjan653 commented on #77
That ID is unique, If I remove the id from column definition, how would i get the id to delete or edit the row ( you mean row index), but through row index i cannot go for backend-operation

[2015-09-16 13:31] bebraw commented on #77
I think you may need to do it in two parts: 1. seek the row data based on row index 2. get `id` property from there.

I agree it might not be an ideal interface. It could be better to pass whole row data to `editable` to make these kind of things easier.

[2015-09-16 13:57] ranjan653 commented on #77
Yes Sir,
My table is dynamic (may be 20 columns come after web service call or 30 columns). That's the problem.How can I hide the column a big problem.

can I add ClassName  in this

         {
                    property: 'name',
                    header: 'Name',
                                    },
So that the column will be hide

[2015-09-16 14:02] bebraw commented on #77
If you look at `src/table.js`, you can see a line like

[code]

This means you can do for example

[code]

See [classnames](https://www.npmjs.com/package/classnames) for details. I need to document this as it wasn't on readme.

[2015-09-16 14:02] bebraw opened #78 "Simplify `editable` interface"
There should be an easy way to access row items. This is handy for digging id etc.

[2015-09-16 14:02] bebraw opened #79 "Mention that a column can accept `classes`"
It uses [classnames](https://www.npmjs.com/package/classnames) context by default.

[2015-09-16 14:13] ranjan653 commented on #77
Yes Sir,
I found that's working fine.

see image data hide successfully but column does not hide
![chart-image](https://cloud.githubusercontent.com/assets/6347884/9907074/0a045814-5cab-11e5-807b-072ab2677169.png)
 var data= [
    {
        name: 'React.js',
        type: 'library',
        description: 'Awesome library for handling view.',
        followers: 23252,

    },
    {
        name: 'Ang

[2015-09-16 14:16] bebraw commented on #77
Ah, forgot about that. Of course it doesn't hide the column given the table layout works...

As I mentioned earlier, you will make your life far simpler by removing the column you want to hide from the column definition. You can still dig the data you need when you need it. The data definition can contain all fields you like. Reactabular doesn't care about that.

I hope that's it.

[2015-09-16 14:22] ranjan653 commented on #77
Ok, I will hide the column and by index I can get the particular id from that like

this.state.data[rowIndex].id
I have to declare two variable
is it ok ?

[2015-09-16 14:27] bebraw commented on #77
Sure.

[2015-09-17 07:10] ranjan653 commented on #77
Hi, I just keep all data and remove that column name from columns. It hide the column.
Thanks @bebraw

[2015-09-17 07:19] bebraw commented on #77
Great.

[2015-09-17 07:19] #77 closed

[2015-09-17 11:01] ranjan653 opened #80 "Is it possible for horizontal and vertical scroll in Reactabular ?"
Is it possible for horizontal and vertical scroll in Reactabular ?

[2015-09-17 11:03] bebraw commented on #80
Can you expand? I can see multiple ways to achieve that.

You can for instance use CSS and overflow with `tbody`.

[2015-09-17 11:08] ranjan653 commented on #80
MY code is

return (

            <div>
			    <div className='controls'>
                    <div className='per-page-container'>
                        Per page <input type='text' ></input>
                    </div>
                    <div className='search-container'>
                        Search <Search columns={columns} data={this.state.data} onChange={this.onSearch} />

[2015-09-17 11:13] bebraw commented on #80
See #50.

That should be related to your issue. There's one potential solution. Sticky headers would take more work and I don't have time for that at the moment.

[2015-09-17 11:15] ranjan653 commented on #80
ok..

[2015-09-17 11:16] ranjan653 commented on #80
ok

[2015-09-17 11:39] ranjan653 commented on #80
I think main.css ,style.css are the css you have used in reactabular. If you have used other than this css. could you plz provide.

[2015-09-17 11:42] bebraw commented on #80
You most likely have to write the CSS you need by hand. I don't have anything specific for this use case apart from the solution I linked to at #50.

[2015-09-18 06:32] ranjan653 commented on #80
I am looking to this issue

[2015-09-18 06:35] ranjan653 opened #82 "Sorting not working in Reactabular, header click ?"
Hi, When click on reactabular header, data fetching, but sorting not working. Showing below error

[2015-09-18 06:38] bebraw commented on #82
That means your `columns` definition is not an array. You could try some standard debugging techniques at your click handler.

[2015-09-18 06:41] ranjan653 commented on #82
OK Sir,

Could you plz look into the code.Any thing need to change

var From = React.createClass({
getInitialState: function() {

    return {
	search: {
            column: '',
            query: ''
        },
		header: {
                onClick: (column) => {

                    this.setState({
                        editedCell: null
                    });
                    sortColumn(

[2015-09-18 06:46] ranjan653 commented on #82
Hello Sir, My column list is coming like

![columns list](https://cloud.githubusercontent.com/assets/6347884/9953515/129f4c22-5dff-11e5-91c6-b76e3fce6a17.png)

[2015-09-18 06:47] bebraw commented on #82
It's very hard for me to debug this way.

It may be a good idea to push sorting to backend level. In that case you would just update the data based on a query you send on click. Unless you have all the data available at frontend, this is the only reliable way I can see.

[2015-09-18 06:57] ranjan653 commented on #82
Actually sir, whatever you have written I am just following your code. May be I am wrong somewhere. I just squeezed my code . Could you plz look into it

var From = React.createClass({
getInitialState: function() {

    return {
	search: {
            column: '',
            query: ''
        },
		header: {
                onClick: (column) => {
          	        sortColumn(
					    this.state.c

[2015-09-18 07:05] bebraw commented on #82
All I can see is that it chokes somewhere in that `sortColumn`. It has been at least six months since I wrote that code.

You could try adding a breakpoint there and digging in. That's what I would do in this case.

[2015-09-18 07:29] #79 closed

[2015-09-18 07:49] ranjan653 commented on #82
Hi, I have changed my approach of coding, Found below error. I think is it necessary to provide column type i.e string, number etc

![sortbyorder is noa function error](https://cloud.githubusercontent.com/assets/6347884/9954557/b0d86006-5e07-11e5-8ac1-7b1ea3854ad7.png)

[2015-09-18 07:52] bebraw commented on #82
I think I can understand the problem now. Reactabular depends on lodash `sortByOrder`. Of course underscore doesn't implement that... I'll need to rewrite that part out...

[2015-09-18 07:54] ranjan653 commented on #82
Ok , waiting for your reply

[2015-09-18 08:02] bebraw commented on #82
I patched it up. `sortByOrder` is included to Reactabular bundle now. Not ideal but fastest solution I could find... Tons of other work to do.

[2015-09-18 13:40] ranjan653 commented on #82
Still facing problem, will update soon

[2015-09-18 13:43] ranjan653 commented on #82
How can I pass Value of column within cross method

i.e ROWID VALUE IN onClick={remove.bind(this)}
{
	property: 'ROWID',
    header: 'ROWID',

                    cell: function(value, celldata, rowIndex) {
					console.log(rowIndex);
                        var idx = _.findIndex(this.state.data, {
						id: celldata[rowIndex].id,
    });

                        var remove = () => {

[2015-09-18 13:47] bebraw commented on #82
I'm not exactly sure what you are trying to achieve. Operation like delete should likely go through a backend. In this case you'll want to capture `onClick`, pass that `idx` to the backend and finally update data based on the result. Basic Flux.

[2015-09-18 13:51] ranjan653 commented on #82
My problem i can achieve on-click delete , but after search, Found 3 rows, now index of each row start with 0,1,2.
If I am deleting It delete from actual content data . If I can set value within on click then i can delete easily

[2015-09-18 14:05] bebraw commented on #82
See `celldata[rowIndex]`. You can dig the id you might need for backend based delete from there.

Row indices are expected to work just like you describe. They are always 0, 1, 2 and so on. I hope that clears it up. These indices are separate from actual indices of your items.

It actually might be a good idea to hide the concept of `rowIndex` from the API to keep things simpler. Just passing the

[2015-09-18 14:18] ranjan653 commented on #82
Yes sir,that I want to pass means front-end will show you cross img. but will pass  onclick that value.

Just like edit a particular thing we just pass id as value on click

[2015-09-18 14:32] bebraw commented on #82
You can for instance do something like this:

[code]

You have access to the data within the outer scope due to the way JavaScript scoping works. Alternatively you can pass the value through bind. In this case you get `remove.bind(this, celldata[rowIndex].id)` and `var remove = (id) => {`. This is likely easier to test as you can push the function elsewhere.

[2015-09-21 05:07] ranjan653 commented on #82
Yes its working fine, am working toward next step. Thanks

[2015-09-21 08:15] ranjan653 commented on #82
Hi sir, I have implemented column sorting using static data (Fixed column and fixed rows)

could you please provide information regarding below lines

cell: [(followers) => followers - (followers % 100),
search: (followers) => followers - (followers % 100)

[2015-09-21 08:26] bebraw commented on #82
`=>` is ES6 fat arrow syntax. That's a shortcut for `function() {...}.bind(this)`.

[code]

is equivalent to

[code]

We don't need that `bind` here. Plain function definitions work just fine.

If you look at the math, it performs a floor operation over hundreds. Tweak as needed.

[2015-09-21 08:28] ranjan653 commented on #82
ok sir, Thank you

[2015-09-21 10:20] #82 closed

[2015-09-21 10:30] ranjan653 opened #83 "Cell value not updating properly in Reactabular"
Hello Sir,

First time If I change the value of cell its changing. After search or column sorting, there I face the problem.

First the data was like
1
2
3

After sorting it looks like
3
2
1

if I change the value of 3 then value of 1 changing not value of  3.
For Find index I am using . Loadash.min.js library (_.findIndex)
My below code

var editable = cells.edit.bind(this, 'editedCell', (value,

[2015-09-21 10:35] bebraw commented on #83
I would need a little online example to understand better. The official online demo appears to work as far as I can see. You would have to figure out where the difference is.

[2015-09-21 10:48] ranjan653 commented on #83
Sir, I found that, there is issue with row index

Can I pass one id to this editable like rowIndex, value

var editable = cells.edit.bind(this, 'editedCell', (value, celldata, rowIndex, property) => {

     this.state.data[rowIndex][property] = value;

        });

[2015-09-21 11:19] bebraw commented on #83
You may need to do something along

[code]

provided you cannot use fat arrow syntax yet. Alternatively you can bind `this` explicitly. Apart from this it's hard to say anything concrete without seeing something to debug.

[2015-09-21 11:39] ranjan653 commented on #83
For find index I am using _.findIndex available at loadash.min.js Its fine..

[2015-09-21 11:49] ranjan653 commented on #83
sir,
var idx = _.findIndex(that.state.data, {
        id: celldata[rowIndex].ROWID,
    });

returning -1

[2015-09-21 12:08] bebraw commented on #83
That just tells me it cannot find the data you expect. As I cannot debug
like this, can you try logging the values or setting a debugger; statement
there? it likely has something to do with the data definition but without
seeing any data it's impossible to tell.

On Mon, 21 Sep 2015 14:49 Ranjan Kumar Gochhayat <notifications@github.com>
wrote:

[2015-09-21 12:15] ranjan653 commented on #83
My data

var data=[{"EFF_DT":"2013-01-01","ARP_CD":"AAA","APT_LEVEL":"S","DEP_BANK_END":156,"OP_WED_IND":"0","OP_THU_IND":"1","OP_FRI_IND":"0","ROWID":"AAADWGAAMAABB7/AAH","TMST":"2013-01-16","BANK_NR":1,"OP_SUN_IND":"0","OP_MON_IND":"0","EMP_NR":"066404","OP_TUE_IND":"0","OP_SAT_IND":"0","DIS_DT":"2013-01-08","USR_GRP_CD":"12JUNTEST","ARR_BANK_END":1256,"ARR_BAN_BGN":1250,"DEP_BANK_BGN":59}]

[2015-09-21 13:19] bebraw commented on #83
I suggest looking at it through a debugger. That will help you to understand what's going on. As suggested earlier, you can attach `debugger;` statement within that edit callback. Inspect the state. Hard to tell anything else.

[2015-09-21 13:19] ranjan653 commented on #83
ok sir

[2015-09-22 09:30] #83 closed

[2015-09-22 09:33] ranjan653 opened #84 "Highlighter not working for some column"
Hi
Highlighter is working for some column and not working for some column
Any reason. please follow the screen shot

![highlighter-issue](https://cloud.githubusercontent.com/assets/6347884/10015007/fce3f204-613a-11e5-9a1e-4d1e4bac446e.png)

[2015-09-22 09:43] bebraw commented on #84
It crashes because `value` isn't valid (likely `undefined`, `null` or such). I'll add a check against that.

[2015-09-22 10:01] bebraw commented on #84
Fix at `0.7.4`.

I updated the deps while at it. Now the project requires at least Node 0.12 during development (works with Node 4.1).

[2015-09-22 10:22] ranjan653 commented on #84
Sir, Actually I am not using Node.js,

Simply include the recatabular.min.js file and achieving like below
var highlight =Reactabular.formatters.highlight;
So for this update how can I get that

[2015-09-22 10:23] bebraw commented on #84
Yeah, I meant specifically *development* usage (to let other devs know).

You can find the new distribution version at the repository or get it through npm as usual.

[2015-09-22 10:25] ranjan653 commented on #84
Sir, You mean Have to download
https://github.com/bebraw/reactabular/blob/master/dist/reactabular.min.js and include in my html page.

Am I right ?

[2015-09-22 10:25] bebraw commented on #84
Yup, that would work.

[2015-09-22 10:31] ranjan653 commented on #84
Hello SIr, After Changes library I found one issue

![react-addons-issue](https://cloud.githubusercontent.com/assets/6347884/10016248/20c9b944-6143-11e5-9724-6c70893fdb15.png)

[2015-09-22 10:37] bebraw commented on #84
That comes from React side. Check your component definitions carefully. There might be something wrong. Hard to say anything else. Try putting it through a debugger.

[2015-09-22 10:41] ranjan653 commented on #84
Actually It was running fine after update your library, the error is coming. I cannot find the issue

But Issue is here.. tagName: type.toUpperCase(),
in react.addons

[2015-09-22 10:44] bebraw commented on #84
In effect it's trying to treat something as a React component that is not a React component. You can end up in a situation like this if you pass an object to React instead of a component as it expects. See [Stack Overflow](https://stackoverflow.com/questions/30868539/react-router-type-touppercase-is-not-a-function). I simply cannot debug the issue without a proper test case. If you could set up so

[2015-09-22 10:50] ranjan653 commented on #84
Sir its fine but I don't have Idea about how to "set up something standalone on GitHub".

[2015-09-22 11:00] ranjan653 commented on #84
Sir , Is it possible to implement datepicker in for particular cell

[2015-09-22 11:38] #84 closed

[2015-09-22 12:18] bebraw commented on #84
Ah, ok. Just for reference, read up on [fork a repo](https://help.github.com/articles/fork-a-repo/). Probably the simplest way for you to illustrate a possible issue is to fork this repository, create a branch there, modify the branch, and finally link me to that. This will save both of our time. :+1:

Yeah. There are two options:

1. Pass custom type (date or datetime i think) to [input](https://

[2015-09-22 12:46] ranjan653 opened #85 "There is Issue with Reactabular search?"
Hi,
I found there is issue with search in Reactabular.

I have clicked(Single Click) on Name: Angus Johnson and then searched with Name Daniel. But Instead of Daniel , its searching Daniel with Angus Johnson

Follow Screen shot.

![reactabular-search](https://cloud.githubusercontent.com/assets/6347884/10018592/b4553370-6155-11e5-9ffd-816c492f02a4.png)

[2015-09-22 12:52] bebraw commented on #85
Good catch.

I wonder what would be the right way to resolve this. How would you expect this to work?

[2015-09-22 13:01] ranjan653 commented on #85
As usual like normal search.i.e Angus Johnson should not be in the list. Thanks a ton.

[2015-09-22 13:07] ranjan653 commented on #85
If we can allow the cell to edit on double click. I think It solve our problem.

[2015-09-22 15:16] ranjan653 opened #86 "Is It possible to implement data-picker in column of Reactabular ?"
Hi
Is It possible to implement data-picker in column of Reactabular ?

[2015-09-22 15:21] bebraw commented on #86
See [Implementing Custom Cell Operations](https://github.com/bebraw/reactabular#implementing-custom-cell-operations). You can do whatever customizations you need through that interface.

[2015-09-22 15:26] ranjan653 commented on #86
Could you plz provide some example.?

[2015-09-22 15:41] bebraw commented on #86
Can you link to the data picker you are familiar with? I'm not exactly sure what you need.

The simplest way for you to get started would be to copy the contents of [dropdown](https://github.com/bebraw/reactabular/blob/master/src/editors/dropdown.js) to your project. Rename that to datapicker or such and attach it to some cell. Once you get that working, you can try something more custom. Replace

[2015-09-22 23:47] thientran1707 opened #87 "Display long content in reactabular"
Is there a good way to deal with very long content with reactabular? How to display them nicely?

[2015-09-23 04:14] bebraw commented on #87
You could either solve this on CSS side somehow or pass it through something like <a href="https://bebraw.github.io/react-ellipsify/">react-ellipsify</a>.

Let me know if you find a good looking solution for this. I'm curious to know how other libraries deal with it.

[2015-09-23 05:55] ranjan653 commented on #86
Hello Sir,

Please find the link
http://chrisharrington.github.io/demos/react/date-picker/
http://vitalets.github.io/bootstrap-datepicker/

[2015-09-23 06:09] bebraw commented on #86
@ranjan653 If you can integrate one of those within the interface I provide that should work.

[2015-09-23 06:18] ranjan653 commented on #86
I am trying to implement, In case of react it is very difficult for me. But in Jquery it is easy. You are familiar with react that's why I am asking you. I am new to react just started development from this month.
If you will be part of this it like
http://chrisharrington.github.io/demos/react/date-picker/
Then would be grateful.
Thanks

[2015-09-23 06:20] ranjan653 commented on #86
I can understand it should be like editors.dropdown==editors.datepicker...But

[2015-09-23 06:34] bebraw commented on #86
I'm too busy with paying work at the moment.

If you can copy one of the existing editors and get it work first, that's a good starting point. After that you have to render the date picker you want through it.

The simplest way would be to go through [the standard solution](http://www.w3.org/TR/html-markup/input.date.html). Just set input type to date and let browser handle it. This won't work for

[2015-09-23 06:40] ranjan653 commented on #86
Sir,
That should be mention in Reactabular.min.js.
I am only using Reactabular.min.js to achieve editor.input . So in which file i will write the code.

[2015-09-23 07:23] bebraw commented on #86
@ranjan653 You can have a custom editor amongst your application code. All you need to do is to follow the interface as instructed at [the README](https://github.com/bebraw/reactabular#implementing-custom-cell-operations). A cell operation receives `value` and `onValue` through props. The former contains the value you should show at the editor. You should call the latter once done and pass the new

[2015-09-24 08:01] bebraw opened #88 "Push classnames package to externals?"
It might be better to avoid bundling this.

[2015-09-28 09:23] #86 closed

[2015-09-28 09:29] ranjan653 commented on #86
Hello sir,

Can I convert the date format in Reactabular

my json data is like "EFF_DT":"2013-01-01"  and I want to show the result in UI
as mm/dd/YYYY in Reactabular.

[2015-09-28 09:34] bebraw commented on #86
@ranjan653 Sure, go through `cell`:

[code]

You can apply the formatting you want there. `toLocaleDateString` is a standard method and should work for most browsers. You can check exact support online.

[2015-09-28 09:41] ranjan653 commented on #86
Sir,
 {
        "property": "EFF_DT",
        "header": "Effective Date",
        cell: [editable({editor: editors.input(),}),highlighter("EFF_DT")]
    }

How can I implement in this ?

[2015-09-28 09:51] bebraw commented on #86
Perhaps

[code]

This is the point of the `cell` definition. Imagine it as a pipe. That will give you the correct order. See the demos for more examples.

[2015-09-28 10:00] ranjan653 commented on #86
SIr,
Here dateFormatter contains no parameter in cell but
function dateFormatter(date) {
  // format date now. for example
  return (new Date(date)).toLocaleDateString();
}

contains parameter.

Its throwing error.

[2015-09-28 10:45] ranjan653 commented on #86
hello sir,
Any solution...?

[2015-09-28 11:15] bebraw commented on #86
Make sure you have `dateFormatter` in the correct scope. You can also write the function inline (replace `dateFormatter` with the function itself).

In case you run into problems with Date, look into [Moment.js](http://momentjs.com/).

[2015-09-30 06:28] #80 closed

[2015-09-30 07:21] ranjan653 opened #90 "How to create Dynamic tab Using React Js?"
How to create Dynamic tab Using React Js?

[2015-09-30 07:25] bebraw commented on #90
I'm going to need more information than that. You might need to resolve this outside of Reactabular, though.

[2015-09-30 07:26] ranjan653 commented on #90
ok sir,
Any reference ?

[2015-09-30 07:33] bebraw commented on #90
@ranjan653 Can you link me to an example of what you need? I can dig out something for you based on that.

[2015-09-30 07:40] ranjan653 commented on #90
Hello sir,
http://www.jeasyui.com/tutorial/layout/tabs2_demo.html#
Here 3 buttons are there . But I have one select box on change the tabbed area will create and I will put Reactabular within tabbed area .

[2015-09-30 07:46] bebraw commented on #90
Ok. I found these on a quick look:

* https://github.com/rackt/react-tabs
* https://github.com/pedronauck/react-simpletabs
* https://www.npmjs.com/package/react-tab-panel

Note that the fastest way to find components like these is to try [React.parts](http://react.parts/web) and [React Rocks](http://react.rocks/). Those are good starting points besides [npm](https://www.npmjs.com/).

[2015-09-30 07:51] ranjan653 commented on #90
OK Sir,
I have all these links, Trying......

[2015-09-30 07:53] ranjan653 commented on #90
Sir plan to visit India once ...:)

[2015-09-30 07:55] bebraw commented on #90
We'll see. Probably a bit warm for my tastes. ;)

[2015-09-30 08:00] ranjan653 commented on #90
That's right boss.Here Most of the employees are knows you, as I have already share information about you.

[2015-09-30 10:23] ranjan653 commented on #90
Hi I just want hide and show reactabular ,its not working.

 <div show={this.state.showTable}>
			    <div className='controls'>
                     <div className='search-container'>
                        Search <Search columns={columns} data={this.state.data} onChange={this.onSearch} />
                    </div>
                </div>
                <div id="constrainer">
			           <div

[2015-09-30 10:30] #90 closed

[2015-09-30 10:32] ranjan653 opened #91 "How to use Show and hide in reactabular ?"
How to use Show and hide in reactabular ? I have tried but the search part and the header part is coming.
Please my reactabular code ...
![Uploading reactabular code.jpg…]()

[2015-09-30 10:43] bebraw commented on #91
That's more general React problem. You'll need to wrap all of it within your visibility logic. Pseudocode:

[code]

`renderTable` would deal with search/header/table and so on while the other branch with the rest. The exact solution you want might be different but hopefully this puts you in the right direction.

[2015-10-01 07:11] ranjan653 commented on #91
Hi Sir,

Onclick tot working on React-bootstrap Tab

<Tab eventKey={2} title="Constraints" onClick={this.handleSelectTab}>
             </div>
            </Tab>

What is the solution for it?

Thanks
Ranjan

On Wed, Sep 30, 2015 at 4:13 PM, Juho Vepsäläinen <notifications@github.com>
wrote:

[2015-10-01 07:12] bebraw commented on #91
Sorry, no idea as I don't use the library. Let's keep this issue tracker Reactabular specific only. :)

[2015-10-01 07:12] #91 closed

[2015-10-01 15:07] bebraw commented on #58
@invoke-git I think we finally got it! Now you can set `rowKey={'id'}`. That will allow React to benefit from proper diffing. Just set that to id of your row items and that should help considerably. Let me know how it goes.

[2015-10-01 19:51] bebraw commented on #87
@thientran1707 Did you figure it out? You can always try plugging some nice component to a cell to deal with it. One interesting option would be to show the expanded data on hover through an `abbr` element.

[2015-10-02 08:05] #85 closed

[2015-10-02 14:22] ranjan653 opened #92 "Multiple row select and remove using Reactabular?"
Hello Sir,

Is it possible to select and remove multiple row using reactabular.

[2015-10-02 14:32] bebraw commented on #92
This is something you'll have to implement outside of the core library. You should model some way to select a row (checkbox at custom column?) and then modify state based on that.

[2015-10-02 14:52] ranjan653 commented on #92
Just give idea how to implement check box.Need to change in library?

[2015-10-02 15:03] bebraw commented on #92
No need to change library at all. There's [a cell hook](https://github.com/bebraw/reactabular#implementing-custom-cell-operations) for that. I would start from this:

[code]

So track your selection value somehow (now it assumes that your data model has `selected` field in it) and adjust it as the checkbox value changes. When you hit "remove" button somewhere in your UI, take the selection in coun

[2015-10-02 15:17] ranjan653 commented on #92
Ok sir I am trying..

[2015-10-05 15:53] invoke-git commented on #58
We've paginated everything that used to display the slow behavior so we'll have to cook up a test.  I'll give it a shot and let you know how it goes.

[2015-10-06 09:25] limweb opened #93 "change dropdown.js"
'use strict';

var React = require('react/addons');

module.exports = (options,datafield,labelfield) => {

    return React.createClass({
        displayName: 'Dropdown',
        propTypes: {
            value: React.PropTypes.string,
            onValue: React.PropTypes.func,
        },

        render() {
            datafield = datafield || 'value';
            labelfield = labelfield || 'name'

[2015-10-06 09:32] bebraw commented on #93
Sure. Do you want to do a PR or should I patch it?

[2015-10-07 07:29] limweb commented on #93
plase patch it. thanks.

[2015-10-07 08:17] #93 closed

[2015-10-07 08:19] bebraw commented on #93
`0.7.5` contains the feature. I have a feeling it might be a good idea to separate the core and the editors at some point so those can be maintained separately.

Here's the API: `editors.dropdown(countries, {name: <name>, value: <value>})`.

[2015-10-07 08:21] bebraw opened #94 "Separate editors from the core package?"
Perhaps it would make sense to separate editors from the core. After this you would end up with `reactabular-core` and `reactabular-editors` or such. These would go below an organization of its own.

[2015-10-07 08:29] bebraw opened #95 "Make sure highlight works with arbitrary datatypes (number, etc.)"
It probably should do `toString` for numbers at least. Strings obviously work. Unsure of the rest.

[2015-10-07 10:34] #95 closed

[2015-10-09 04:36] eviltoylet commented on #87
What does nicely mean to you? Scroll bars?

I'm with @bebraw on this one that a hover would be a nice thing to add. I would also add some sort of text area that would display a cell contents when it's clicked. (similar to Excel)

[2015-10-09 04:37] eviltoylet commented on #74
@Tjorriemorrie did bebraws explanation help? Maybe we can add a redacted version of that in to the documentation for those getting acquainted to the technology stack.

[2015-10-09 04:44] eviltoylet commented on #73
I'm not seeing this behavior right now. Did it get inadvertently fixed?

[2015-10-09 05:08] bebraw commented on #73
Yeah, I made it to cancel edit on search so that accidentally fixed this behavior. I felt it doesn't make sense to have editors open while searching. Closing.

[2015-10-09 05:08] #73 closed

[2015-10-13 17:56] swashcap opened #96 "Update addons for React v0.14.0"
With React v0.14.0 I see the following warning in the console:

[code]

I’m guessing this is referencing lines like [this](https://github.com/bebraw/reactabular/blob/209354b710dd28ca33196df0e9b4f919ebe6588b/src/editors/input.js#L3) and [this](https://github.com/bebraw/reactabular/blob/209354b710dd28ca33196df0e9b4f919ebe6588b/src/editors/dropdown.js#L3).

[2015-10-13 18:09] bebraw commented on #96
Yeah, exactly.

I did a preliminary fix at `dev`. Do you want to give it a go? `npm i bebraw/reactabular#dev` might work I think.

[2015-10-13 20:24] swashcap commented on #96
Ah, nice. Looks like _dist-modules_ wasn’t updated with the transpiled code, so the warning still exists. Running `npm run dist && npm run dist-min && npm run dist-modules` does the trick.

[2015-10-14 08:02] bebraw commented on #96
The problem should be fixed in `0.8.3`. npm was glitchy while publishing, that's why `0.8.3`. Got hit by https://github.com/npm/npm-www/issues/537 .

[2015-10-14 08:02] #96 closed

[2015-10-14 13:50] bebraw commented on #57
This doesn't matter anymore now that we have nice Mocha based tests that are fast enough.

[2015-10-14 13:50] #57 closed

[2015-10-14 13:51] bebraw commented on #25
It's probably safe to close this one.

It would be a good idea to walk through the test coverage report generated to `build/` when testing and see if we can find aspects to test. There are likely zero cases and such that are missing.

[2015-10-14 13:51] #25 closed

[2015-10-15 05:54] ranjan653 opened #97 "After using highlighter I found something error?"
Hi,
Please find the error.

![error-in highlighter](https://cloud.githubusercontent.com/assets/6347884/10505821/07eeec7a-732f-11e5-9d54-bfea51f279c5.png)

[2015-10-15 05:59] bebraw commented on #97
Can't repro.

[2015-10-15 05:59] #97 closed

[2015-10-16 05:39] 90abyss opened #98 "How to change the width of just one column?"
I couldn't find the CSS file responsible for changing the width of just one column. I am trying to display a Tweet in one of the columns so I need for it to be bigger than the rest.

[2015-10-16 05:59] bebraw commented on #98
You could try to attach

[code]

to your column definition and then force the width through CSS in a way that makes the most sense to you. At simplest you just set

[code]

[2015-10-16 07:17] 90abyss opened #99 "unable to install on windows"
my command prompt output after doing npm install:

reactabular@0.8.3 postinstall C:\Users\x\Downloads\wth\reactabular-master
node lib/post_install.js

C:\Users\x\Downloads\wth\reactabular-master\lib\post_install.js:7
    execSync(command, {
    ^\
TypeError: undefined is not a function
    at exec (C:\Users\x\Downloads\wth\reactabular-master\lib\post_install.js:7:5)
    at C:\Users\x\Downloads\wth

[2015-10-16 07:18] 90abyss commented on #99
my log file:

0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'install' ]
2 info using npm@1.4.14
3 info using node@v0.10.29
4 verbose node symlink C:\Program Files\nodejs\\node.exe
5 verbose readDependencies using package.json deps
6 verbose install where,

[2015-10-16 07:25] bebraw commented on #99
Node 0.10 isn't supported at the moment given it's so old.

This can be fixed by tweaking the [postinstall script](https://github.com/bebraw/reactabular/blob/master/lib/post_install.js). We would need to detect Node 0.10 there somehow and then do the equivalent of `require('child_process').execSync` there. If you can dig how to do this, I can patch it. Alternatively a PR is welcome.

[2015-10-16 07:33] 90abyss commented on #99
After updating the node to 4.2.1 I'm getting this error:

C:\Users\x\Downloads\wth\reactabular-master>npm start

events.js:141
      throw er; // Unhandled 'error' event
      ^

Error: listen EACCES 127.0.0.1:8080
    at Object.exports._errnoException (util.js:874:11)
    at exports._exceptionWithHostPort (util.js:897:20)
    at Server._listen2 (net.js:1221:19)
    at listen (net.js:1270:10)

[2015-10-16 07:34] 90abyss commented on #99
log file:

0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'start' ]
2 info using npm@2.14.7
3 info using node@v4.2.1
4 verbose run-script [ 'prestart', 'start', 'poststart' ]
5 info prestart reactabular@0.8.3
6 info start reactabular@0.8.3
7 verbose unsafe-pe

[2015-10-16 07:41] bebraw opened #100 "Support Node 0.10 again"

[2015-10-16 07:44] bebraw commented on #99
Why are you trying to run the package in development mode?

That might be environment/permission related. For some reason it's not letting the dev server to run through 8080 but it's hard to tell anything else as I don't have access to Windows.

[2015-10-16 08:01] 90abyss commented on #99
How do I run the package in the non development mode?

[2015-10-16 08:02] 90abyss commented on #99
Also if 8080 is blocked, is there another way to npm install using a different port?

[2015-10-16 08:06] bebraw commented on #99
@90abyss There's no need to run it. The npm version has been designed to be consumed through Node/browserify/Webpack and such. In Webpack environment you would work like this:

1. `npm i reactabular --save` - Save as project dependency.
2. `import {Table} from 'reactabular'`- Import where you need it. This assumes ES6 (Babel or similar system). You can also do `var Table = require('reactabular').T

[2015-10-16 09:11] 90abyss commented on #99
Hey! As you must have noticed I am a newbie in programming and don't have much idea how to use these frameworks. So can you please help me with this - this is what I have done so far:

1) npm i reactabular --save to create project dependency. This created nodes_modules folder inside.

2) my html file:

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <div id="conte

[2015-10-16 09:23] bebraw commented on #99
@90abyss Can you check out [my book](http://survivejs.com/) about the topic? The free portions should help you to get started with Webpack and React. If you want to jump straight in, you can try my [boilerplate](https://survivejs.github.io/react-component-boilerplate/). It has everything set up.

[2015-10-16 09:25] 90abyss commented on #99
Thanks a lot kind sir :)

[2015-10-16 09:27] bebraw commented on #99
Ok, it's probably safe to close this now. :+1:

[2015-10-16 09:27] #99 closed

[2015-10-17 20:45] 90abyss commented on #98
I'm playing around with your full_table.jsx and this is what I've done so far to change the column width:

contents of full_table.jsx file:

'use strict'
import './override.css';

...

{
     property: 'TweetText',
     header: 'Tweet Text',
     classes: {'TweetText': true},
}

contents of file override.css:

.TweetText{
  width: 10em;
}

No changes are rendered. Any ideas?

[2015-10-17 20:48] bebraw commented on #98
@90abyss Can you check that the class gets set at your `th` correctly through Chrome Inspector or a similar tool? It will help if you can set up a little online demo for me to check out. A GitHub repository would work.

[2015-10-17 20:55] 90abyss commented on #98
![selection_001](https://cloud.githubusercontent.com/assets/6945738/10561250/c8106184-74ef-11e5-8c26-f7caa6603a68.png)

as you can see th is getting set correctly.

[2015-10-17 21:03] 90abyss commented on #98
Also - if I do this:

.TweetText{
  background: #fafafa;
}

then changed are getting reflected correctly.

But if I do this:

.TweetText{
  width: 100em;
}

Then they are not.

[2015-10-17 21:10] bebraw commented on #98
@90abyss Ok. It has something to do with `em`. If I set `100px` or similar, it works for me. Too late to debug with a clear head.

[2015-10-17 21:14] 90abyss commented on #98
px is not working for me either :(

![selection_002](https://cloud.githubusercontent.com/assets/6945738/10561340/7557bdfe-74f2-11e5-9440-ca523d5e1e61.png)

Please let me know when you find a fix to this. Any work around will help immensely

[2015-10-18 10:39] bebraw commented on #98
@90abyss Works for me. See https://bebraw.github.io/reactabular-demo/ . It's very difficult for me to help unless you can set up a failing example to study.

[2015-10-18 17:14] 90abyss commented on #98
hey bebraw! can you please take a look at this:
https://github.com/90abyss/reactabular
this is the example thats not working. I'm basically making edits in your full_table.jsx file itself.

I need to do two things:
1) increase column width of the column TweetText. (currently I have a override.css imported)
2) shift the table to the left

I am just not able to access any css properties to do that.

[2015-10-18 19:11] bebraw commented on #98
Maybe it's just neater to inject a div there and force the width through that:

[code]

Alternatively you could set `className` there and style through CSS. Or you could set `className` of the `td` through [the cell interface](https://github.com/bebraw/reactabular#implementing-custom-cell-operations).

[Other ideas](https://stackoverflow.com/questions/4457506/set-the-table-column-width-constant-re

[2015-10-18 19:41] 90abyss commented on #98
bebraw -  Thank you so much! It totally worked. You have no idea how much you have helped me by creating this reactabular. Keep up the good work!!

Another qs - how do I shift the entire table to the extreme left? Its positioned at the center at the moment and therefore there is lots of white space to the left.

Thanks again!

[2015-10-19 07:00] bebraw commented on #98
@90abyss Note that I set `max-width: 768px;` for `article` at *main.css*. If you remove that, it will get rid of the centering.

I noticed a little search related glitch at your demo. I published a new version with fixed behavior.

[2015-10-19 22:03] 90abyss commented on #98
perfect! also another thing - is there a way to lock the first three columns and keep them fixed while you scroll to the right. Also how can I highlight a row like we do in excel?

Thanks so much bebraw for all your help. You have no idea how much reactabular has helped me.

[2015-10-20 06:27] bebraw commented on #98
I have a feeling you might be able to pull of the first one with CSS somehow. You would need to listen to window scroll through React and apply some CSS trickery there. It likely doesn't make sense to solve this in Reactabular itself.

You should be able to solve the latter through [the row prop interface](https://github.com/bebraw/reactabular#attaching-props-per-row). Check against `rowIndex` and

[2015-10-21 23:08] 90abyss commented on #98
Great! I will look into it.

Any ideas on how should I integrate user authentication? Will I have to make changes in index.jsx or webpack.config.js file and ask for user authentication first or something of the like? Please let me know how should I proceed with this.

Thanks so much.

[2015-10-22 02:54] 90abyss commented on #98
Also - one last thing - I noticed that the app always runs on localhost:8080. How can I make it publicly accessible? How do I change the port to 80?

[2015-10-22 08:45] bebraw commented on #98
Note that `npm start` is not meant to be used for production. It's better if you execute `npm run gh-pages` and host that output.

Authentication is a bigger problem and there are multiple ways to approach that. It's hard to give a single answer as that depends on your environment. It's better to ask this sort of questions at [Reactiflux](http://www.reactiflux.com/) given the go beyond Reactabular

[2015-10-22 08:45] #98 closed

[2015-10-22 15:10] eduardodelaguila opened #101 "Error type.toUpper"
Hi!, today i installed Reactable, it is everything i need for my data display, but when i tried to implement your table i got Uncaught TypeError: type.toUpperCase is not a function, at first thought i believe that was my data or column definition, so i got your example and rigged up on my view, but i got the same error.

Am i doing something wrong ?

My data, columns, require and call
http://paste

[2015-10-22 15:18] bebraw commented on #101
You need to wrap

[code]

within a React component definition. Otherwise it blows up at React side like that. See `demos/` for more practical examples and how to wrap it.

[2015-10-22 16:08] eduardodelaguila commented on #101
You mean something like this?

var DetailsContainer= React.createClass({

    render: function() {
      return (
)
});

[2015-10-22 16:10] bebraw commented on #101
@eduardodelaguila Can you upload a complete example at GitHub? I tried using your column/data definition but it worked for me...

[2015-10-22 16:19] eduardodelaguila commented on #101
Right now i cant, i'll do it at night.

P.S. I'm a newbe on React.JS and English is not my native language, so sorry for any mistake :p

[2015-10-22 16:19] bebraw commented on #101
@eduardodelaguila No worries. I'll have a look at your code tomorrow.

[2015-10-22 16:20] eduardodelaguila commented on #101
thanks! :D

[2015-10-23 16:38] 90abyss opened #102 "How to display clickable links in the table?"
In one of my columns I have URL links. I just need to do a

< a h ref = "URL coming from json"> Link </ a>

How should I incorporate this in my URL column in the table?

[2015-10-23 16:43] bebraw commented on #102
See [the cell interface](https://github.com/bebraw/reactabular#implementing-custom-cell-operations). You can have a function like this there:

[code]

The exact code you need depends on your JSON structure of course.

[2015-10-23 17:19] 90abyss commented on #102
Perfect its working! Can I have an if clause inside that cell property? I mean I want to display a clickable link only if the "TLink" has an "http://" in it. Otherwise I just want to display the text "DM". (From the json data I'm either getting a proper URL Link or the text "DM")

Something like this:

                    property: 'TLink',
                    header: 'Tweet Link',

[2015-10-23 17:22] bebraw commented on #102
Yeah. You can use a ternary for example:

[code]

If you have time, please read [my book](http://survivejs.com/). You should be able to pick up these kind things there easily.

[2015-10-23 17:32] 90abyss commented on #102
I couldn't get it to work, can you please check if this is correct? The Link column is displayed completely empty.

                    property: 'Link',
                    header: 'Tweet Link',
                    cell: (Link) => {Link === 'DM' ? <span>DM</span> : <a href={Link}>Link</a>}

From the json data for the Link column, I'm either getting "DM" or the full URL "http://www.twitter.com/273

[2015-10-23 17:40] bebraw commented on #102
Here's a better example (added to repo as well):

[code]

I think the problem is that `() => {}` form returns `undefined` by default. Either we need to do it like above or spell it out and have a `return` statement:

[code]

[2015-10-23 17:43] 90abyss commented on #102
Perfection! Thank you for always having answers to all my questions!

[2015-10-23 17:48] #102 closed

[2015-10-23 19:26] 90abyss commented on #102
What if I have multiple links for one column ie lets say the json data coming for my "Link" column above gives this : "http://github.com http://www.reddit.com/top/"
So in this case if I do as mentioned above: I'm getting a clickable URL link for the entire string - in the browser its opening as "http://github.com%20http://www.reddit.com/top/"
How do I get it to delimit the string returned from jso

[2015-10-23 19:39] bebraw commented on #102
@90abyss Something like this:

[code]

[2015-10-26 03:06] AkshatM opened #103 "Cannot export reactabular as globals"
I'm attempting to create a very simple isomorphic scheme with Reactabular and Handlebars.

To do this, I'm Browserifying a file `source.js` that reads just

[code]

in such a way that this React component becomes [globally accessible](http://makerlog.org/posts/creating-js-library-builds-with-browserify-and-other-npm-modules/) to the browser (so I can embed it in other scripts, for example):
[code]

[2015-10-28 09:42] bebraw commented on #103
Please note that the default build at `dist/` uses UMD. You get global/AMD/CommonJS access to it through that. Perhaps that's enough?

[2015-10-28 16:29] mmoutenot opened #104 "only th gets class from 'classes'"
It looks like it adds it to the th, but not td's of the same column. Is this expected behavior?

[2015-10-28 19:34] bebraw commented on #104
Yeah, it's expected. The `cell` interface is very flexible and allows styling.

I feel we should probably drop header `classes` and provide a more generic way to inject props instead. Perhaps something like that `cell` interface of ours.

[2015-11-02 22:51] damassi opened #105 "Ability to use Custom Sort Function?"
Is it possible to create custom sorters? Right now I have a column of dates and numbers, but it seems that sorting is only string based out of the box. Any pointers would be appreciated!

[2015-11-03 12:15] bebraw commented on #105
Hi,

You can see the current logic [here](https://github.com/bebraw/reactabular/blob/master/src/sort_column.js). It defaults to lodash `sortByOrder`. I can accept a PR against the `dev` branch that allows to replace that.

If you need something fast, you can override the logic completely as Reactabular has been decoupled from it. You might need just a custom `sort` function.

[2015-11-04 08:19] damassi commented on #105
Thanks!

[2015-11-04 08:19] #105 closed

[2015-11-04 08:23] bebraw opened #107 "Allow custom sort function to be used"
See #105. It would be good if it was possible to swap the default. Perhaps this is a chance to drop a dependency.

[2015-11-04 13:35] dcpf opened #108 "sort_column.js wipes out all header classes"
Reactabular sorting is managed by the sort-asc and sort-desc classes on the column header, and the code in sort_column.js sets these as necessary. However, in doing so, it wipes out all other classes set on the column. So if we want to set our own classes, they get removed whenever a sort is performed. The code in question is:

module.exports = function (columns, column, done) {
    columns.map(fu

[2015-11-04 13:38] bebraw commented on #108
Great idea. Do you want PR against `dev` or should I patch it?

[2015-11-04 15:23] #107 closed

[2015-11-04 15:23] #108 closed

[2015-11-04 20:28] #104 closed

[2015-11-04 20:30] bebraw commented on #104
A quick heads-up. I dropped the support for `classes` at `0.9.0`. If you need to tweak classes, just go through `className`. This works for headers and cell definitions. There's also a row specific hook where you can inject.

[2015-11-04 20:31] mmoutenot commented on #104
Awesome! I'll try it out soon.

On Wed, Nov 4, 2015 at 3:30 PM, Juho Vepsäläinen <notifications@github.com>
wrote:

[2015-11-04 20:33] bebraw commented on #101
@eduardodelaguila Any update? Can you upload some code for me to look at?

[2015-11-04 20:33] #92 closed

[2015-11-04 20:33] #88 closed

[2015-11-04 20:34] bebraw commented on #76
@reggi It's possible to inject custom headers now. Please have a look at the current version.

[2015-11-04 20:45] bebraw commented on #32
No need for this anymore. Now you can inject `style` or `className` pretty much anywhere.

[2015-11-04 20:45] #32 closed

[2015-11-04 20:48] bebraw commented on #69
I split it up at `docs`. It should be much easier to set up a proper site now.

[2015-11-05 08:54] bebraw opened #109 "Provide more flexible, context based Table definition?"
Now that [context](https://facebook.github.io/react/docs/context.html) has landed in React 0.14 officially, we might be able to implement a neater API for Reactabular. Consider the following example:

[code]

I feel moving to this direction would give us more expressive API and eliminate some of the prop bloat we have in the library. Note how easy it would become to attach custom class names, styl

[2015-11-06 10:45] limweb opened #110 "Editable Dropdown data"
Hi,
I'm used with relfux how to init data before you example full table used ,
by demo have a datasource   but  in dev  I want to get from database
1.data of table  2. data of dropdown
How I ' used with  full table   please help

Thanks.

[2015-11-06 11:08] bebraw commented on #110
## Fetching Data for a Table

You could fetch the initial data at [componentDidMount](https://facebook.github.io/react/docs/component-specs.html#mounting-componentdidmount) and then consume it through Reflux. You can likely find the exact solution from their docs. This problem goes beyond Reactabular.

## Fetching Data for a Dropdown

Fetching data for a dropdown is going to be a notch harder. I t

[2015-11-06 13:44] limweb commented on #110
thanks.

[2015-11-06 20:40] limweb commented on #110
OK  Now  I'm  can use it  by Modify

I move   code to new function in  React Class and  give at render
var columns = _self.getColumn();
because datasource is not load at first render  and  getInitstart  it run  one  not rerun
but in render it will run very state change

Thanks.

//---code---------------------
    getColumn:function(){
        let _this = this;

        var editable = cells.edit.bi

[2015-11-06 20:43] limweb opened #111 "New Question for Help ? what event or How to know after change data in Dropdown ?"
New Question for Help ?
what  event or How to know  after change data in Dropdown ?

after chagne  i' will want to call  reflux action to put data  to change database

Thanks.

[2015-11-06 20:43] bebraw commented on #110
Can you set up a demo I can run (ideally a GitHub repo)? It's hard to say anything without.

[2015-11-06 20:49] bebraw commented on #111
You can do that at [cells.edit](https://github.com/bebraw/reactabular/blob/903d2fa0de323e6418ee870c3c21ab82ffd68567/demos/full_table.jsx#L59). There's a callback that gets triggered whenever an editable field changes. You can check against the field name there and trigger whatever logic you need.

[2015-11-06 20:49] limweb commented on #110
https://github.com/limweb/ReactAppforcast  I'm push it to github
It is my test App
run server at php  I'm use php -S 0.0.0.0:8000

[2015-11-06 20:52] limweb commented on #111
thanks  I"m new for Js

[2015-11-06 20:59] limweb commented on #111
HI  why you email & pass  at this link

https://www.facebook.com/T3DMalaysianHacker/posts/247331398692871

[2015-11-07 07:22] bebraw commented on #111
There was some data breach years ago.

Time to close this. Please see the examples and documentation to understand how that editing portion works.

[2015-11-07 07:22] #111 closed

[2015-11-07 07:32] bebraw commented on #110
Ok, I understand the situation a little better now. I would drop `getColumn` and store `columns` at state instead given that's the React way to do it. Then once your request completes, you would update that state. As the state updates, React will force a `render`. The same idea applies at editor level.

[2015-11-07 07:32] #110 closed

[2015-11-10 21:15] #100 closed

[2015-11-12 01:24] goldensunliu commented on #104
@bebraw it is actually `headerClass` no `className`
for now I am proposing a change to the doc https://github.com/bebraw/reactabular/pull/113 until all `column.headerClass` is all refactored out of the current code

[2015-11-12 06:26] bebraw commented on #104
@goldensunliu Thanks! I could use your feedback on #109. I think that would clean up the API somewhat.

[2015-11-20 18:11] jjzazuet opened #114 "Is it possible to specify multiple columns in search ciretria?"
The current search component API makes me think that at any given point, only one column can be searched (or have its data filtered) inside a table:

    module.exports.search = (data, columns, column, query, options)

Are there any plans to support searching (filtering) data across multiple columns?

Or is it possible for me to implement my own multi column search code?

Thanks for your time and

[2015-11-20 18:21] bebraw commented on #114
There's actually an *all* option by default. You can see it in the demo. Here's the [logic](https://github.com/bebraw/reactabular/blob/a7e3eca9df4b6e2b64ce277a56bd89ac5ca71ecb/src/search.js#L95).

Reactabular is somewhat pluggable so if you need something more special than that, it should be possible to achieve it outside of the core library. These utilities just cover some common scenarios. I can

[2015-11-20 18:35] jjzazuet commented on #114
I see.

Yes, I know about the 'All' option. I was thinking about searching for more than one value per column. For example, if my table has:

- Frist Name.
- Last Name.
- Age.
- Gender.

It would be ideal to have two search controls that allowed me to filter like so:

    Search column: age > 13
    Search column: gender = M

Right now, using the 'All' option would allow me to search for only one

[2015-11-20 18:42] bebraw commented on #114
The cheapest way to achieve it would be to have multiple `Search` components. Then you filter through each and then combine the results before passing the resulting data to `Table`.

Obviously it won't be inline and it won't be as performant (2x work) but it might be enough for some simple cases.

Of course implementing a dedicated widget of some sort would be more sophisticated way.

[2015-11-30 10:55] Ezekiah opened #115 "the best way to add a row"
Hi, I would to know the best way to add a row in the table, I know that I could do by doing a form and then update this.state.data but  i'd like to know if there is a built in way to do that.
Thanks

[2015-11-30 11:02] bebraw commented on #115
[Table](https://github.com/bebraw/reactabular/blob/master/docs/table_definition.md) just expects `columns` and `data`. It doesn't care where those come from.

In the demo I use JSON Schema and a form library that works well with it. I expect you will have to do something similar depending on what kind of user interface you want.

[2015-11-30 11:30] Ezekiah commented on #115
Yeah you're right.
Finally I just made a form with plexus-form and reused the properties variable.
Thanks

[2015-11-30 11:32] bebraw commented on #115
Cool. Note that [react-json-editor](https://github.com/ismaelga/react-json-editor) is a maintained version of that library. I should port the example to that.

[2015-11-30 11:32] #115 closed

[2015-11-30 11:33] bebraw opened #116 "Port the demo to use react-json-editor"
Given plexus-form was deprecated, it would be a good idea to move to https://github.com/ismaelga/react-json-editor (successor).

[2015-11-30 11:33] bebraw commented on #114
@jjzazuet Any luck with this?

[2015-11-30 13:09] Ezekiah commented on #115
Yes I used react-json-editor.
Thanks for your great module.

[2015-12-16 22:52] jphamilton opened #118 "Turn off sorting"
It would be nice to be able to turn sorting off for certain columns. For instance, on your demo page, the column with the edit controls in it is sortable, which really doesn't make sense. I have something similar (checkbox select row) and I don't want that column to be sortable.

[2015-12-17 04:56] bebraw commented on #118
Yeah, makes sense. Maybe it would make sense to flag the columns to skip or something. A proposal is welcome.

[2015-12-18 15:45] jphamilton commented on #118
A "sortable" property in the column definition that defaults to true (to keep current compatibility) is what I was thinking.

[2015-12-18 17:24] bebraw commented on #118
@jphamilton Sounds good. Want to do a PR?

[2015-12-20 23:57] eviltoylet commented on #118
This is probably a good incremental step. However, if you're up for tackling it, I would suggest you introduce a comparator per column which would be able to generate more complex sort orders. The sorting algorithm should be stable, so that a no-op comparator would give the correct results.

[2015-12-27 20:19] limweb opened #119 "How to fix column in the left and another scroll"
How to fix column in the left and another scroll

Thanks.

[2015-12-27 20:22] bebraw commented on #119
Can you give a visual example? I'm not exactly sure what's needed.

[2015-12-28 08:03] limweb commented on #119
![2015-12-28 15_02_25-microsoft excel - template forcast oct 2015](https://cloud.githubusercontent.com/assets/602579/12015786/19cda6dc-ad74-11e5-9448-ce78bcc80e7d.png)

like this  thanks

[2015-12-28 08:15] bebraw commented on #119
Is it fixed so that when you scroll horizontally, the column will remain visible while the rest scrolls below it?

[2015-12-28 08:19] bebraw commented on #119
Can you set up an example based on pure HTML and CSS (possibly JS if needed)? That would help me to understand how to map the functionality to Reactabular.

[2015-12-30 19:27] goldensunliu opened #120 "sorting documentation incorrect"
for some reason sorting stopped working for me.

in the sort documentation in https://github.com/bebraw/reactabular/blob/master/docs/sorting_table.md

one should be able to create a table like:
[code]
where header is
[code]

what I have noticed is that the `onClick` function never gets called. also I wasn't able to find in the source where `props.header` is ever used: https://github.com/bebraw/rea

[2015-12-30 19:34] bebraw commented on #120
`onClick` should get mapped to a prop.

Can you try setting up a demo for me to study? You can for instance fork this repo and tweak the official demo. Whatever is the easiest for you.

[2015-12-30 20:10] goldensunliu commented on #120
@bebraw in the demo, we are using the prop `columnNames' instead of 'header':
https://github.com/goldensunliu/reactabular/blob/master/demos/full_table.jsx#L286

if instead of `columnNames={this.columnFilters}` we replace it with `header={this.state.header}`, nothing seem to work

[2015-12-30 20:16] goldensunliu commented on #120
looks like the doc in https://github.com/bebraw/reactabular/blob/master/docs/sorting_table.md
should be
[code]
correct me if I am wrong

[2015-12-30 20:17] bebraw commented on #120
@goldensunliu Yeah. Want to do a PR to fix that?

[2015-12-30 20:25] goldensunliu commented on #120
accordingly to this change. https://github.com/bebraw/reactabular/commit/19b3501aff0f0cd269144f3d97f7422195309be3

is the intention to change `header` to `columnNames`? i.e should we change the documentation to reflect that

[2015-12-30 20:35] bebraw commented on #120
@goldensunliu Yup. The documentation needs a fix.

[2015-12-30 20:39] goldensunliu commented on #120
@bebraw PR is ready to go, dawg.

[2015-12-30 20:41] #120 closed

[2015-12-30 20:42] bebraw commented on #120
Thanks!

[2015-12-31 13:02] jjzazuet commented on #114
Hi. Sorry for the late response.

Yes, applying multiple `Search` filters on columns did the trick. But as you mention, there could be a better method to specify multiple search criteria.

Thanks for your time and help!

[2015-12-31 13:05] bebraw commented on #114
@jjzazuet No worries. Feel free to PR something if you figure out a neater way.

Search could be optimized in other ways too. I mean rather than filtering over all data, queries could operate only on the filtered data. As the search set gets smaller, performance improves as well. Just a thought.

[2016-01-04 16:40] jphamilton commented on #118
@eviltoylet, @bebraw  Sorry, I've been out of town. I will try to tackle a PR. I think we are talking about 2 different issues, though. I just want to turn sorting on/off and it sounds like you want to be able to create more complex sorts. Or am I missing something?

[2016-01-04 16:53] bebraw commented on #118
@jphamilton No worries. PR based on your need and we go from there. :+1:

[2016-01-19 08:26] #64 closed

[2016-01-20 12:33] Ezekiah commented on #76
Hello I tried to use this enhancement but it doesn't work it displays nothing:

 columns: [

				{
				  property: 'selected',
				  header: function() {
					  return (<input type="checkbox"  selected={false} />)
				  },

Could you help me ?

[2016-01-20 12:40] bebraw commented on #76
@Ezekiah See https://github.com/bebraw/reactabular/blob/master/docs/customizing_header.md . Maybe `columnNames` is the key. If you can upload your project to GitHub, I can have a closer look.

[2016-01-20 12:57] Ezekiah commented on #76
Yeah columnNames is used in full_table.js.
Here is my version of full_table. https://gist.github.com/Ezekiah/c8294613aef0f9f4c8d0
I added  "selected" cell to implement the multiselect feature, but I dunno how I can add an input in the header

[2016-01-20 13:23] bebraw commented on #76
@Ezekiah Ah, it was simpler than I remembered. Try something along `header: <input type="checkbox" selected={false} />`. No need to wrap in function. It expects a React element. Incidentally text happens to work by default. See `src/column_names.js` for exact details.

[2016-01-20 13:24] bebraw commented on #76
I'm closing this issue given header is somewhat customizable now and it should be possible to achieve what was originally requested.

[2016-01-20 13:24] #76 closed

[2016-01-20 13:27] bebraw opened #123 "Annotate `ColumnNames` columns shape"
It would be a good idea to validate that `ColumnNames` config accepts `header` within the given array. More info: https://facebook.github.io/react/docs/reusable-components.html .

The implementation (esp. `className` handling) could be cleaned up while at it.

PR welcome!

[2016-01-20 13:49] Ezekiah opened #124 "Loop on each rows cells and call a function on it"
I'm trying to implement the multiselect feature and when I click on "select all", I would like to loop on each rows of the current page and select them.
I tried to see if there are refs for rows but there are not presents.

[2016-01-20 13:52] bebraw commented on #124
I think you need to go through the column definition of `data`. When you "select all", set the column selection state for each to selected (could be boolean). Your cell rendering should take this into account.

[2016-01-20 13:58] Ezekiah commented on #124
Oh yes I think I got it, I try to do as you said.

[2016-01-20 14:05] Ezekiah commented on #124
Could you explain to me what you by column definition of data ?

[2016-01-20 14:15] bebraw commented on #124
I can see two options in your [current code](https://gist.github.com/Ezekiah/c8294613aef0f9f4c8d0). Merge your selection state to that `data: data` portion or alter `selected_rows` when you trigger "select all". If you do latter, you'll need to perform a lookup that gives the value for that `input` at your `cell` renderer. I expect both ways will work.

The problem in your current implementation i

[2016-01-20 15:00] Ezekiah commented on #124
I attached selected to all my data and I set all data selected column to true/false when I select all, when I click on one checkbox I just change one row in the data ans setstate also.
However I would like to selectall only the data of the current page, so I should recover the current page of the paginator, knowing the number of product and the page I'll be able easily to do so. I'm going to add a

[2016-01-20 15:11] bebraw commented on #124
@Ezekiah Maybe it would make sense to do id (row object, not row id) -> selected state lookup? Then when you change pages, it should pick it up. If it's tied to something else, that could lead to trouble.

[2016-01-20 15:35] Ezekiah commented on #124
What do you mean, can you give me an example ?

[2016-01-20 15:40] bebraw commented on #124
I would do something like this at `cell: function(value, celldata, rowIndex)`:

[code]

Then when you select, you do something like this:

[code]

This should be enough as it decouples selection from a page. If a page changes, the selection remains. This also respects sorting etc.

[2016-01-21 08:39] Ezekiah commented on #124
Ok I did as you said and its working perfectly, thanks.
Do you know why I get this warning "Warning: Only strings and numbers are supported as <option> children." when I put a column header as <input type="checkbox" ref='selectAll' onClick={this.selectAll} style={{width:'20px'}}/>

    columns: [

				  {
					  property: 'selected',
					  header: <input type="checkbox" ref='selectAll' onClick={t

[2016-01-21 08:46] bebraw commented on #124
You have `input` inside `input`. You should restructure your markup to avoid this scenario.

[2016-01-21 08:53] Ezekiah commented on #124
I did a spelling mistake, even with only one input I got the warning.

[2016-01-21 08:57] bebraw commented on #124
@Ezekiah Ok. I understand the problem now. It's that search `select`. I'll add a little check there against this.

[2016-01-21 09:05] #124 closed

[2016-01-21 09:19] Ezekiah commented on #124
Do I need to wait a new version to resolve it, or theres a fix ?

[2016-01-21 09:20] Ezekiah commented on #124
Ok thanks i download the fix

[2016-01-28 14:43] JeffSanchez opened #126 "Multiple column sorts?"
Seems like this was partially discussed / referenced in the issue regarding turning off sorting, but I just wanted to clarify: are there any near-term plans / upcoming PRs to support multi-column / complex sorts (like in the way react-datagrid supports multiple column sorts basically by default)?

If not, perhaps we'll contribute one soon...

Thanks!

[2016-01-28 15:00] bebraw commented on #126
I don't have any concrete plans for multiple column sorting. I can see [it's quite neat](http://zippyui.com/react-datagrid/#/examples/sorting), though, and I can appreciate the idea.

Currently [SurviveJS](http://survivejs.com/) related efforts take most of time given that brings the bread to the table. My smaller projects like this are in "discuss issues and accept PRs" mode. :smile:

Given React

[2016-01-28 15:04] JeffSanchez commented on #126
Thanks for the quick response!

(Very much enjoyed the SurviveJS book by the way, glad you're continuing with that effort...)

[2016-02-17 10:51] Ezekiah opened #130 "Translate search component"
In the search select input there is the choice "All", I would like to change it, how can I do that because I would like to translate it please.

[2016-02-17 10:54] bebraw commented on #130
Yeah, that's hardcoded at the moment. Good point!

What if we exposed it through a prop? That would seem like a good starting point. Maybe you could have something like `i18n` prop that would accept an object containing `all`. Then you would get:

[code]

Do you want to PR this? It's a fast tweak for me to do, though, if this sounds ok to you.

[2016-02-18 08:03] #130 closed

[2016-02-18 08:04] bebraw commented on #130
@Ezekiah `0.11.1` contains the fix. It uses the API I proposed above. So pass an object and you are all good.

[2016-02-22 08:38] Ezekiah opened #131 "Inline editing a row launch a past data state"
When I use the boolean editor on my row, the list refresh however it loads a past data state, do you know how I can solve it  please ?
Maybe it's a problem coming from my own code, I'm pretty sure of that :s

I have my gist here : https://gist.github.com/Ezekiah/c8294613aef0f9f4c8d0, if someone can help me please.

[2016-02-22 18:58] bebraw commented on #131
Can you set up a standalone example for me to study? Easier to debug what's going on. Simplify as much possible.

[2016-03-16 12:43] bebraw commented on #131
I'm closing this as there isn't enough information to debug properly.

Feel free to open again if you get a simple standalone example online. You could for instance fork this project and tweak the example.

[2016-03-16 12:43] #131 closed

[2016-03-16 12:45] bebraw commented on #103
Did you manage to resolve this?

[2016-03-16 12:45] #101 closed

[2016-03-16 12:47] #58 closed

[2016-03-16 17:44] AkshatM commented on #103
No, we eventually went ahead with another solution instead. Sorry!

[2016-04-17 18:42] bebraw opened #135 "Give a warning if `rowKey` is missing"
As it helps with performance, it would be nice to warn if it's missing.

[2016-04-28 06:11] bebraw opened #136 "Figure out a neater interface for setting initial edit cell"
Now you have to kludge around and set `editedCell: '213-foobar'` if you want to control the edited cell outside of the component.

[2016-06-07 21:33] maxkorp commented on #135
Adding .required to the proptype should be sufficient.

[2016-06-08 16:15] tBaxter commented on #69
add a README.md to docs/ with links to the individual files in there and a description of what you'll find in each. Boom: instant github doc site.

[2016-06-08 16:17] bebraw commented on #69
@tBaxter Yeah. That's a cool idea and would work for now. 👍

I am actually working on a heavier duty alternative but it will take a while to complete on a sufficient level. What you suggest would work well till the tool is where it needs to be.

[2016-06-08 19:15] tBaxter opened #140 "Unable to build"
Cannot get basic example working. Seeing ReferenceError: Unknown plugin "syntax-object-rest-spread"

[2016-06-08 19:19] bebraw commented on #140
Can you provide more info? What sort of system (Node version, npm version), what commands?

[2016-06-08 19:22] tBaxter commented on #140
It appears to be a Babel issue, wanting that plugin and transform-object-rest-spread. I had to do this for both plugins: https://babeljs.io/docs/plugins/syntax-object-rest-spread/

[2016-06-08 19:25] bebraw commented on #140
Those should be project `devDependencies`. Maybe it's a version issue. I should bump the versions anyway.

[2016-06-08 19:53] tBaxter commented on #140
I think I've got it working on my end. Feel free to close if you like.

[2016-06-08 20:02] bebraw commented on #140
Ok, I'll bump those deps and close then. :+1:

[2016-06-09 11:22] #69 closed

[2016-06-09 11:22] #135 closed

[2016-06-09 11:22] #140 closed

[2016-06-09 11:28] bebraw commented on #123
This doesn't make sense as a column header definition can be so loose. Closing.

[2016-06-09 11:28] #123 closed

[2016-06-09 11:29] bebraw commented on #116
I ended up porting to [react-jsonschema-form](https://mozilla-services.github.io/react-jsonschema-form/) as that seems to be maintained at the moment. The port isn't perfect as I lost some styling in the process (needs custom wrappers to fix or port to Bootstrap).

[2016-06-09 11:29] #116 closed

[2016-06-09 12:01] bebraw opened #141 "Figure out the right way to import lodash"
Currentlty the lodash bits get bundled in the `dist` build. Either webpack configuration needs to be tweak or we need to change lodash imports. Alternatively lodash could be written out of the project. Suggestions are welcome.

[2016-06-09 12:18] #103 closed

[2016-06-09 14:11] tBaxter opened #142 "Allow passing table caption"
Could you add options to pass in additional table structures such as caption, col and colgroup?
In particular, I think caption would be a solid addition.

Ref:
* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/table
* http://webaim.org/techniques/tables/data

[2016-06-09 14:32] bebraw commented on #142
You can likely achieve a lot of that with the current hooks. You could add a [custom header](https://github.com/bebraw/reactabular/blob/master/docs/customizing_header.md) for example. I think you might be able to do those `col` things and `caption` too there.

[2016-06-09 16:25] tBaxter commented on #142
that's not super clear. If I'm defining the custom head in columnames, then what's header doing?

[2016-06-09 16:39] bebraw commented on #142
Check the second example at the [demo site](https://bebraw.github.io/reactabular/). Essentially it's doing an override like this:

[code]

and then `columnNames={this.columnFilters}`.

I know it's not that cool. Too obscure. That's why I'll want to move to a context based API eventually. See #109 for a possible design. Comments welcome.

[2016-06-09 18:28] tBaxter opened #143 "Search not working correctly with nested data"
Due to some oddities with my json, I'm extracting some information like so:

var columns = [
    {
        property: "foo",
        header: 'First Name',
        cell: (v) => (v.FirstName),
    },
    {
        property: 'foo',
        header: 'Last Name',
        cell: (v) => (v.LastName),
    },
    {
        property: 'Site',
        header: 'Site',
    },
    {
        property: 'foo',

[2016-06-09 18:49] bebraw commented on #143
Can you set up a standalone example (GitHub repo)? Easier to study.

Searching against nested data might require some custom logic.

[2016-06-09 19:39] Gudahtt opened #144 "postinstall script fails on node 0.10.x"
The postinstall script fails when installing on node 0.10.x. I've tested this on versions `0.10.32`, `0.10.33`, and `0.10.45`. I've also tested this with npm versions `2.15.1` and `3.9.5` on each of those node versions.

It looks like it's because devDependencies aren't installed until *after* the postinstall script, so the `sync-exec` dependency isn't available when `lib/post_install.js` is run.

[2016-06-10 05:22] bebraw commented on #144
I don't have a great interest in supporting Node 0.10 given it's so old. I don't mind dropping it given it appears to be problematic.

If you can figure out a way to drop `execSync` I guess that would be the best solution. `/lib/post_install.js` is a hack at best. 😞

[2016-06-13 07:50] isaachinman opened #146 "Fixed-width columns after initial load (filtering)"
Really like this component and have put it to use in a current project. Was able to get filtering working very easily.

However, due to the nature of my content (and I'd imagine nearly anyone else's), the column widths change as I filter and certain content is removed. This makes for a jarring experience, as content is jumping around with every keydown event.

Is there currently any way to capture

[2016-06-13 08:09] bebraw commented on #146
Yeah, that's a good question.

I'm actually redoing the API right now (#109). I'll push a prototype in a bit so you can have a look. Maybe we can get some kind of hooks there to capture the initial widths.

[2016-06-13 08:10] isaachinman commented on #146
Sounds good.

It's a bit more complicated than just initial width - if you use filtering and column sorting together, there is the possibility of a column gaining width due to the pseudo-element arrows. So it'd probably be more versatile to create some "capture column widths" method and reuse as needed.

[2016-06-13 08:11] bebraw commented on #146
Here's [the new API](https://github.com/bebraw/reactabular/blob/3df147cf27496fd92850520f383b9fd0cb6b67e7/demos/full_table.jsx#L245).

It's still in flux so if you can see how the hooks would fit in there, let me know. We can perhaps leverage React lifecycle methods here.

[2016-06-13 08:21] isaachinman commented on #146
Is there no current way of passing CSS attributes to columns? Classes aren't going to work in this case.

[2016-06-13 08:28] bebraw commented on #146
@isaachinman The column definition has a `cell` handler just for this purpose. You have to define it per cell to attach a CSS attribute per each column, though. Perhaps it would make sense to expand the API definition to make this easier. Good point.

[2016-06-13 09:20] isaachinman commented on #146
I see, was able to get it working with fixed widths like this:

    cell: (v) => ({
      value: v,
      props: {
        width: 500
      }
    })

Not sure how to get cell width after it mounts. How often do these cells mount? On every table render? Sorry, just having a hard time seeing how these cells fit in the table lifecycle. If they already have props, it appears they already have some kin

[2016-06-13 09:24] bebraw commented on #146
They go through `render()`, yeah. A little inefficient but flexible. 👍

I have to think about lifecycle in detail. Ideally this is something we would set only on mount I think.

[2016-06-13 09:45] isaachinman commented on #146
Okay, let me know if you think of a solution. I'm happy to implement something and submit a PR.

[2016-06-13 09:48] bebraw commented on #146
@isaachinman You can actually pass a React component to `cell`. That gives you access to its lifecycle if you want. Maybe that's the key. No additional API needed. This is more of an optimization anyhow.

[2016-06-13 09:49] isaachinman commented on #146
Yes, that was my initial thought as well.

[2016-06-13 13:01] bebraw commented on #109
I have a prototype [here](https://github.com/bebraw/reactabular/tree/context-api). See esp. the demo. I haven't fixed the tests or docs yet as I'm still experimenting. So far so good.

[2016-06-13 13:07] Gudahtt commented on #144
Yeah, I can't see any particularly nice solution. You could inline `execSync` or some equivalent function, but that'd be even more of a hack.

One option would be to transpile *before* publishing, rather than after. My impression from the `npm` folks is that they'd like to deprecate `postinstall` altogether because they want to prevent/discourage library authors from installing things aside from t

[2016-06-13 13:15] bebraw commented on #144
@Gudahtt I actually transpile before publishing to npm. The script is meant only for those users that use the git version for a reason or another.

[2016-06-13 13:20] Gudahtt commented on #144
Ah OK, thanks. I knew I had to be missing something - I've seen other libraries do this as well. Hmm.

[2016-06-13 13:24] bebraw commented on #144
@Gudahtt I guess dropping Node 0.10 would be the easiest way out. Just need to set up `engines` field and that's it. Btw, see [my API prototype](https://github.com/bebraw/reactabular/tree/context-api) (esp. demo). If you have thoughts on that, comment at #109. This is a good time to get features in.

[2016-06-13 14:19] Gudahtt commented on #144
@bebraw Sure thing! Will do.

I think I might have a solution for the `postinstall` problem, without dropping support for `0.10.x`. Using `spawn` instead of `execSync` should do the trick. I can create a PR.

[2016-06-13 14:36] bebraw commented on #144
@Gudahtt Ok, cool. That would be great.

[2016-06-13 16:03] #144 closed

[2016-06-13 16:30] Gudahtt commented on #144
Great, thanks! Problem solved.

[2016-06-14 03:51] bebraw commented on #114
There's support for multi-column search now. :+1:

[2016-06-14 03:51] #114 closed

[2016-06-14 03:53] bebraw commented on #87
It probably doesn't make sense to solve this at the core so I'm closing the issue.

[2016-06-14 03:53] #87 closed

[2016-06-14 03:53] #74 closed

[2016-06-14 10:27] isaachinman commented on #146
Just in case anyone else comes across this and wants a quick solution, this is what I hacked together.

In your column definition, add a class:

    const columns = [{
        property: 'name',
        header: 'Name',
        cell: (v) => ({
          value: v,
          props: { className: 'fixed-width' }
        })
      }]

And then in your `componentDidMount` for whatever component has the tab

[2016-06-14 10:32] bebraw commented on #146
@isaachinman that's a cool idea. i wonder if a ref would work here. then you would avoid `document.querySelectorAll`

[2016-06-14 10:48] isaachinman commented on #146
@bebraw Probably so.

Also, I've made a slight change above. I'm now affixing the `fixed-width` class to headers, not body cells. This is to prevent code repetition in each column cell, and also to maintain widths even if filtering causes the table to be empty.

[2016-06-14 10:52] bebraw commented on #146
You could do something like this with the new API (still in flux):

[code]

Would that help?

I could also provide a more specific API and accept a function (`(column) => ({className: 'fixed-width'})`) for better customization. This could be a good idea anyway.

[2016-06-14 10:56] isaachinman commented on #146
Sure, as you want. As long as the `th` nodes get an explicit width set after the table is injected, everything should work fine. There is another problem with hidden tables (eg tabs), but that's another issue entirely.

[2016-06-17 16:17] bebraw opened #148 "Reactabular 1.0.0-rc4 out - Feedback welcome!"
## beta1

I pretty much rewrote the component based on #109 ideas (context based API). The component is more flexible now. I ended up simplifying it in a few ways while at it. The old `cell` API accepts just something you can pass through a React component (i.e., a string, number, React component, ...). You can still achieve the same things and more as before.

## beta2

* Fixed `require`s at `dis

[2016-06-17 16:40] bebraw commented on #118
This has been solved in the current beta. You literally attach sorting functionality per column making the problem disappear.

[2016-06-17 16:40] #118 closed

[2016-06-17 16:41] bebraw commented on #142
@tBaxter Can you take a look at the current beta? See #148 for further details.

[2016-06-17 16:41] bebraw commented on #109
Implemented in the beta.

[2016-06-17 16:41] #109 closed

[2016-06-17 16:41] bebraw commented on #78
I guess this is obsolete now that I redid the API. Far simpler now. Data can be added as needed.

[2016-06-17 16:41] #78 closed

[2016-06-17 16:43] bebraw commented on #33
@eviltoylet Hey, do you want to revisit this? I might be able to squeeze in this feature at the next beta.

[2016-06-17 16:45] bebraw commented on #126
There's support for sorting multiple columns now. I simplified the interface further in the current beta.

[2016-06-17 16:45] #126 closed

[2016-06-17 16:46] bebraw commented on #136
I guess the current interface is good enough. At least it's more flexible now with the redesign.

[2016-06-17 16:46] #136 closed

[2016-06-17 18:46] bebraw commented on #146
@isaachinman I released a beta. See #148. Do you want to try implementing the idea there? The API should be more flexible now so you can customize it per header and so on. 👍

[2016-06-18 02:18] skosch commented on #148
Wonderful :) Unfortunately, at this point I run into
[code]
as well as
[code]
although I'm following the examples to a T (as far as I can tell).

[2016-06-18 03:04] bebraw commented on #148
@skosch Thanks for letting me know! Investigating the distribution further revealed that Babel transforms the source so that while it renames the files (i.e., `Table.jsx` -> `table.js`), it doesn't take this transformation fully into account at the imports it generates (it does `require('./Table.js')` here). I "fixed" this by renaming files a bit and pushed out `beta2`.

To install, try `npm i rea

[2016-06-18 10:22] isaachinman commented on #146
Unfortunately I'm super busy right now and don't have time to produce a proper contribution. Might have more time in about two weeks.

Unless you have another idea, I guess the simplest way to do this is just pass a React component into the header that explicitly sets its width in `componentDidMount`.

[2016-06-18 10:47] bebraw commented on #146
No probs. I guess I'll try setting up a little demo. :)

On Saturday, 18 June 2016, Isaac Hinman <notifications@github.com> wrote:

[2016-06-18 20:05] skosch opened #149 "Sorting on columns that have object data"
Right now, sorting works purely on `property`, and thus relies on the data rows consisting of comparable scalars. This mechanism falls apart when the columns are fed objects instead (displayed via a `cell: ...` function), because `orderBy` just sees said objects and doesn't know how to sort them.

Enhancement idea: provide a custom version of `orderBy` out of the box that allows the user to specif

[2016-06-19 04:23] bebraw commented on #149
What if we separated data formatting and data extraction? This would mean we would get an additional field where you would dig the cell data value. This would allow us to dig the data before highlighting/searching/etc. and might go a long way towards solving the underlying problem.

I would love to extract the search bits to a component of its own btw. Doing this would definitely help in achieving

[2016-06-19 11:25] skosch commented on #149
Sounds good to me!

If/when you build a search component though, it'd be nice if you could make it (optionally) composable in some way, so users can use their own `TextField` components etc. inside of it.

[2016-06-19 11:27] bebraw commented on #149
Good point! I'll do the API tweak first and think about search.

[2016-06-19 15:25] skosch commented on #149
Sorry, coming back to this – in what way would this overlap with/obviate the current `search` field?

[2016-06-19 16:01] bebraw commented on #149
It's cool.

Let's say we do something like `data: ({ value }) => value.nested` to deal with nested data. We are going to need a way to transform the initial data so that it digs the data for `search`. That feels like a function Reactabular should provide making it a core functionality.

The remainder, `Search` and the associated methods, can live outside of the core. The next release probably does

[2016-06-19 16:33] skosch commented on #149
Yep, that's what I meant. `Search.search` currently uses `col.search` if it's present (and `property` otherwise); sorting works purely on the `property` AFAIK.

Couldn't we just change both to use (approximately) `col.data({value: row[property], cellData: row}) || row[property]` for whatever they do?

I'm on beta2 right now, and both searching and sorting crashes because some of the data is nested

[2016-06-19 16:38] bebraw commented on #149
@skosch I'll do a little prototype on data extraction and set up an example about nested search. That will go to beta3. We can go from there and figure this out. Thanks for the input!

[2016-06-19 16:38] skosch commented on #149
To clarify, I was thinking of the `data` field (maybe we can find a better name?) as a function that returns a searchable/sortable string representation of what's in the cell, whereas `cell` still has access to the whole object (and `dataCell`, which is super useful) to render whatever pretty component the user wants it to. If we're not on the same page please explain!

[2016-06-19 16:39] skosch commented on #149
Alright, looking forward to what you'll come up with! Thanks for being so responsive :+1:

[2016-06-19 16:41] bebraw commented on #149
That's the idea, yeah. Data extraction and formatting are going to be separate concerns. I need to think about the naming, good point.

[2016-06-19 16:44] bebraw commented on #149
So here's what I'm thinking

[code]

`value` would literally extract the value if set. If not set, it will return the default. Any thoughts on the name?

[2016-06-19 16:52] skosch commented on #149
Neat, that's just what I had in mind!

All I can think of are ugly monstrosities like `rawContent` or `scalarValue` or `comparable` ... calling it `value` may lead to confusion since in other places it refers to the entire data object. Hm.

[2016-06-19 16:54] bebraw commented on #149
This is enough for now. We can change the name later after proving the idea. About done with the basic implementation. 👍

[2016-06-19 17:45] #143 closed

[2016-06-19 17:45] #149 closed

[2016-06-19 17:47] bebraw commented on #149
@skosch I found a simpler solution. It was possible to do just `property: 'dad.name'` kind of declaration and avoid the naming issue. This incidentally happens to work with `orderBy` fixing this issue. Now also searching against nested data works. Included in beta3.

[2016-06-19 17:52] bebraw commented on #148
In case anyone is following, there's proper support for nested data now. You can use `property: 'dad.name'` kind of declarations (arbitrary nesting). This works with search and sorting too.

[2016-06-19 18:01] skosch commented on #149
That's really neat (and should be documented!), but I still think there's value in your earlier proposal, since often enough the cells combine data from multiple nested fields, i.e. `` `${dad.firstName} ${dad.lastName}` ``, and we'd like to have that searchable too, no?

[2016-06-19 18:04] bebraw opened #150 "Support `value` customization (aggregate values!)"
To quote @skosch:

[2016-06-19 18:11] bebraw commented on #33
Good example: https://www.w3.org/WAI/tutorials/tables/irregular/ .

Maybe `Table.Header` should accept a `header` definition of its own. The definition should be able to describe the nesting so it can be mapped to that example.

[2016-06-19 23:42] skosch commented on #149
Oh boy, I'm already forgetting what I opened this issue for in the first place ... :flushed:

Alright then!

[2016-06-20 15:08] bebraw commented on #26
I redid the documentation site so this is obsolete now.

[2016-06-20 15:08] #26 closed

[2016-06-20 15:19] bebraw commented on #148
I updated the [site](https://bebraw.github.io/reactabular). Please have a look and let me know what you think. I know there are still rough bits and the main bundle is far too big.

[2016-06-20 15:38] bebraw commented on #150
I wonder if we should just leave this to the user space. It would be possible to perform this kind of operation on the data itself before it gets passed to Reactabular. If we integrate aggregate values, then it causes complications especially with sorting as then you need to perform a "normalization" step before pushing the values to an algorithm like `orderBy`.

Any thoughts?

[2016-06-20 15:53] skosch commented on #150
That probably makes sense. The nice thing about `orderBy` sorting though is that it takes care of ascending/descending across multiple columns for you, and it's relatively robust to whatever data comes in (strings, numbers, undefineds, nulls, objects, etc.). I explicitly wouldn't want to "normalize" (i.e. flatten) my data before passing it to `orderBy`, because, well, I'd still like to have access

[2016-06-20 16:01] bebraw commented on #150
Providing a custom `orderBy` could work, yeah. That still leaves the issue of search, though. The earlier `value` solution worked well with that.

Even with nested property selectors (that `foo.bar.baz` thing) we could still provide access to the original data. It's just that `value` for default to the one pointed by the selector.

Maybe all of this makes more sense once I start decoupling the pac

[2016-06-20 16:12] skosch commented on #150
Well, in many (most?) cases the `foo.bar` properties will probably be enough for both search and sort purposes. If they aren't, we can let the user specify a function that is expected to return a string (or other comparable-kind type). If it's absent you can fall back via `||` on the `property`, no?

Alternatively to letting users write their own `orderBy`, reactabular could provide a wrapper à la

[2016-06-20 16:19] bebraw commented on #150
The search case isn't actually trivial. `Search.search` needs to output unflattened data so the surrounding logic doesn't break. So it needs to do some sort of lookup while keeping the original shape of the structure intact. I realized this while playing around with the ideas earlier. But that's just details. 👍

[2016-06-20 17:04] bebraw opened #151 "Figure out a neat header protocol"
It's possible to attach functionality to headers through the column definition like this `header: sortable('Position')` now. The problem is that this has been designed to return a React element. And incidentally `Search` expects a string (`Position` in this case).

This means we'll need to decouple these two ideas somehow. There's also the issue of grouped columns (#33). We need a way to describe

[2016-06-20 17:17] bebraw commented on #33
There's a related proposal at #151.

[2016-06-20 17:21] bebraw commented on #151
There's still the problem of nesting. The question is how to represent that using a structure. Maybe a column should be able to have `children`. Then we would get:

[code]

You could still use `transform`s and `props` of course.

[2016-06-20 19:26] sokki commented on #148
Hi,

I just found this component and love it so far.
The sorting is not working as expected at the moment. When I click a `th` for the third time, the item is not removed from `state.sortingColumns`. Only `sort` is set to `""` which leads to _.orderBy's default `asc` order.
So you can't remove a column from the sorting once you added it ...

A quick fix could be something like
[code]
here https://

[2016-06-20 19:32] bebraw commented on #148
@sokki Thanks! Good catch. I'll get that fixed.

The API might change still a bit. It would be great if you could comment at #151 .

[2016-06-21 12:25] bebraw commented on #151
I implemented the new interface. Here's an example of a column definition:

[code]

**`header` fields**:

* `header.value` - This maps to the value displayed to the user. In addition search options are populated based on it so this should be a string.
* `header.transform` - The idea of transforms is that they can inject `propTypes` to the current cell (same idea for header and content). In this ca

[2016-06-21 12:25] #151 closed

[2016-06-21 13:08] bebraw commented on #150
I ended up implementing `value` field after all and it works quite beautifully. So I guess it's safe to close this then. The feature will make it to the next beta (due later today).

[2016-06-21 13:08] #150 closed

[2016-06-21 13:09] bebraw commented on #142
I guess it's safe to close this now. Please keep up with the betas. 👍

[2016-06-21 13:09] #142 closed

[2016-06-21 15:16] bebraw commented on #148
There's a new beta available. I redesigned the [column interface](https://bebraw.github.io/reactabular/#/components/table). It's a little clearer what's going on now. More fields but clarity as well. I also started pushing [test coverage](https://codecov.io/gh/bebraw/reactabular) forward although there's still work to do.

@sokki Fixed now.

[2016-06-21 19:48] bebraw commented on #119
I think you might be able to pull of fixed header quite easily in the current beta. That fixed row would be hard. Give it a go.

[2016-06-21 19:48] #119 closed

[2016-06-21 19:51] bebraw commented on #50
I think you should be able to achieve this in the current beta given how flexible it is. Closing.

[2016-06-21 19:51] #50 closed

[2016-06-21 22:13] skosch commented on #148
By the way – loving the documentation site! :)

[2016-06-21 22:33] skosch commented on #148
* the `value` → `resolve` fix is on master, but needs to be pushed to gh-pages
* while you're at it, could you make a note in the documentation about the `extraParameters`?

[2016-06-22 02:49] bebraw commented on #148
Yeah. I realized the naming gotcha after the beta. That's going to the next one.

I have to enumerate the `extraParameters` interface in detail. Good point.

[2016-06-22 16:32] bebraw commented on #148
Beta 6 is out there now. Read the issue description for changes. There were quite a few.

[2016-06-22 16:34] bebraw commented on #72
There's a [selection example](https://bebraw.github.io/reactabular/#/examples/selection) now. I'm thinking a similar idea would work for tabbing. There's also enough control over edited cell now so that you can move it around as a cursor.

Note that this is available only in the current beta.

[2016-06-22 16:34] #72 closed

[2016-06-22 16:40] bebraw commented on #141
I'm going to skip this given the weight lodash adds is so minimal. Thanks to behavior we can actually drop the peer dependency requirement so I'll do that.

[2016-06-22 16:40] #141 closed

[2016-06-23 02:25] bherrmann7 opened #152 "Cannot resolve module 'expose'"
$ npm -version
3.9.3
$ npm install
$ npm start
...
ERROR in ./docs/index.jsx
Module not found: Error: Cannot resolve module 'expose' in /home/bob/reactabular/docs
 @ ./docs/index.jsx 1:0-18

[2016-06-23 03:58] #152 closed

[2016-06-23 03:59] bebraw commented on #152
Thanks! I added the missing dependency. webpack-validator should definitely check for this...

[2016-06-23 08:52] isaachinman commented on #146
What's the protocol for PRs on this project? Do you think this kind of behaviour should be default, or an additional option? It's perfectly "responsive", just not if screen width changes after the component mounts.

[2016-06-23 09:09] bebraw commented on #146
Hi,

I guess we should decide how it could go in. Ideally it would be possible to plug in the feature through an extension mechanism. There are several hooks just for this and I can implement more if needed. Going through a hook would force me to keep the core flexible and that's a good thing.

You could try to set up a PR and we can discuss further there. I have some smaller changes in mind for t

[2016-06-23 13:24] bherrmann7 opened #153 "Highlighting effecting wrong columns"
I presume the highlight should be restricted to the column searched....   am I mistaken?

Thanks!

![screen shot 2016-06-23 at 9 22 48 am](https://cloud.githubusercontent.com/assets/33614/16304618/3a018176-3924-11e6-8703-f5b811a547cc.png)

[2016-06-23 13:35] bebraw commented on #153
Yeah, good catch. I'm currently doing some work around search so it's the perfect time to fix that. Thanks!

[2016-06-23 13:41] #153 closed

[2016-06-23 19:31] bebraw commented on #148
Beta 7 is available now. Most important thing - [new search API](https://bebraw.github.io/reactabular/#/how-to/search). As usual, refer to the issue description for more details.

[2016-06-23 20:18] bebraw commented on #94
The editors are so small separating wouldn't make a big difference. I'll most likely do a separate package for search but that's it.

[2016-06-23 20:18] #94 closed

[2016-06-25 17:01] skosch commented on #148
@bebraw I'm having trouble with the new search API unfortunately.

I suspect it has to do with [search.js#L48](https://github.com/bebraw/reactabular/blob/master/src/search.js#L48), which calls `value` instead of `resolve`, and doesn't pass along any `extraParameters` either (but then again I haven't debugged it much, so that may be mistaken).

 At any rate I keep running into a `TypeError: Cannot

[2016-06-25 17:08] bebraw commented on #148
Yeah. That should be `resolve`. Thanks! I'll fix that for the next beta.

[2016-06-25 19:20] bebraw commented on #148
@skosch I fixed the issue in beta8. Also renamed `header.value` as `header.label` as that describes the intent better.

[2016-06-26 18:09] bebraw commented on #148
Pushed `beta9`. A couple of minor tweaks. Most importantly `rowKey` was pushed to `Table` directly as that gives a cleaner API.

[2016-06-27 06:20] skosch commented on #148
Extremely minor nitpick: `search.multipleColumns({ data, columns, query });` takes an object, whereas `sort.sorter(data, sortingColumns, orderBy);` takes individual params.

Overall, things are coming together really nicely :+1:

Also (a bit off-topic but I wanted to mention it) I got my multi-column sorting to work by setting my table component's initial `columns` state to
[code]
and by sorting t

[2016-06-27 07:03] bebraw commented on #148
Good point. I'll get that sorted out.

If you could PR, that would be great. I'm currently shuffling the docs a bit, but after that would be fine.

[2016-06-27 08:16] uneart opened #154 "Link to react-pagify broken"
In the docs, the link to react-pagify is broken due to a &quot; left in the url. I'll just create a quick pull request for that.

[2016-06-27 08:27] #154 closed

[2016-06-27 10:04] uneart opened #156 "Error: React.createElement: type should not be null, undefined, boolean, or number"
Hello everyone,

I am trying to implement Reactabular in my app but I always get the following errors:
[code]
[code]
import React, { Component, PropTypes } from 'react';
import { Table } from 'reactabular';

const data = [
  {
    uid: 100,
    displayName: 'Adam',
    email: 'adam@test.de',
    lovesBeeGees: true
  },
  {
    uid: 101,
    displayName: 'Brian',
    email: 'brian@test.de',
    lov

[2016-06-27 10:25] bebraw commented on #156
The docs are for the [beta](https://github.com/bebraw/reactabular/issues/148). Make sure you install it through `npm i reactabular@beta9`. If this doesn't work, then there's something else going on.

I'll do a couple of betas still before pushing out a stable release. There are still some features to be developed. 👍

[2016-06-27 10:29] uneart commented on #156
Oh damn. I should have thought of that. Completely solved the problem. Thanks for the quick reply!

[2016-06-27 10:33] bebraw commented on #156
No problem. Thanks for testing the beta! Subscribe to that thread to keep up to date.

[2016-06-27 10:33] #156 closed

[2016-06-27 12:46] bebraw commented on #148
beta10 is available now. The [search API](https://bebraw.github.io/reactabular/#/search/api) signatures are object based from now on. I made this change to make the API consistent with rest of the component. See the issue description for further information.

[2016-06-27 14:54] skosch opened #157 "Sortable transforms"
Before I create a PR I'd like to talk over the design of the `sortable` transform, and transforms in general.

`sortable` currently takes as an argument the `property`, which both identifies the sorted column *and* tells the sorter how to access the data fields corresponding to them.
**Pros:** This makes it easy for users to make headers sortable ad-hoc, and allows reactabular's sorter function to

[2016-06-27 15:05] skosch commented on #157
In fact, what'd be even nicer is if the `transform` field were called `transforms` and accepted arrays of functions, to be spread-composed internally. That would make it easier for stateful table components to supplement columns with extra transforms before rendering; e.g. I'd like for all my columns to be sortable by default.

[2016-06-27 15:18] bebraw commented on #157
Let's do `transforms`. That sounds sane to me. Do you want to PR something or should I give it a go?

[2016-06-27 15:20] bebraw commented on #157
Speaking of sorting, I did a little [proof of concept](https://bebraw.github.io/reactabular/#/examples/stateful-table) today. It would be fairly easy to write a wrapper for Reactabular core that allows you to set `sortable: true` for a header at your data definition. The same could be done for search and so on.

[2016-06-27 15:36] skosch commented on #157
Cool. To be honest I'm not 100% familiar with the codebase yet, so if you want to wait for a PR it'd probably take a few days. No hard feelings if you want to go ahead and put it in yourself.

Re: `sortable: true` ... one thing I awkwardly hacked together in my reusable component but forgot to mention was a way to define an initial sort order. Write it `sortable: true, initialSort: 'asc'`, or `sor

[2016-06-27 15:39] bebraw commented on #157
Ah, yeah. Initial sort order would definitely be handy.

Could you craft a little specification for `transforms`? Just having a couple of bullets would be enough for me to write proper test cases and the implementation. This way we understand it the same way.

[2016-06-27 15:49] skosch commented on #157
All I was thinking was that `transforms` would get an array of functions, and each would be called with `({label, cellData, columnIndex})` resp. `({resolvedValue, cellData, rowIndex, columnIndex})` for the cells.

Each transform function returns an object of props, and they're all joined together into one object before application, i.e.

[code]
Is that what you're asking?

[2016-06-27 15:53] bebraw commented on #157
Yeah, I'll go with that. Thanks. 👍

[2016-06-27 22:26] marcello3d commented on #148
Getting the following error when I try to webpack using beta10:
[code]

It looks like there's no lodash dependency in the package.json

[2016-06-28 07:52] bebraw commented on #157
There's a prototype in the repository now. Should the results override or patch the existing data? Here's a [test](https://github.com/bebraw/reactabular/blob/1d6dc444f0ce3abc9322b82a7fc60a9b7ffa4f43/tests/table_test.jsx#L206) that explains the issue better.

Merging props like `style` would feel more natural alternative to me.

[2016-06-28 12:10] skosch commented on #157
Nice, thank you!

I'm partial to style props and classNames being deep-merged as you said. At least you don't lose information that way, and if you really were in a position where you had to manually override earlier styles you still could. With classnames it's trickier than with style values actually, because their precedence depends on their order in the stylesheet, not on their order in the pro

[2016-06-28 12:38] bebraw commented on #157
Ok, deep merge is fine. I'll drop lodash `merge` there. To keep it predictable it probably has to go from right to left so that `transforms: [foo, bar]` is equal to `foo(bar(... parameters ...))`.

Good point about classnames. I have a special hack for that. I really don't like React's string based interface so we have to treat classes differently. This has already been done.

I will add nested da

[2016-06-28 13:22] bebraw commented on #157
It's using the behavior now we discussed earlier.

The full demo actually uses nested data. Could you set up a standalone demo after the next beta so I can understand what's going on a little better?

I've thought about separating the ideas of data and order. Now these are intermingled and the approach works. Having separate sort/filtering index might be a direction worth investigating. Then we wo

[2016-06-28 13:51] skosch commented on #157
My idea was that sorting should happen on the resolved string, not on whatever `get(row, property)` returns. When you sort the full table by country, for example, the order goes `Germany, Finland, Greece ...`, which isn't exactly alphabetic; what's worse, when `get(row, property)` is itself an object, the sorting fails entirely.

Using the index instead of the property is an unrelated suggestion;

[2016-06-28 13:54] bebraw commented on #157
Ah, yeah. I see the problem now. Avoiding `find`/`findIndex` would be definitely neat and getting resolved values to work in a sane way would be good.

I'll think about it and get something done.

[2016-06-28 15:38] bebraw commented on #148
There's a new beta available now. Plenty of changes as described in the issue above. The biggest change was moving from `transform` to `transforms` array. More flexible this way.

@marcello3d Fixed in beta11.

[2016-06-28 15:54] marcello3d commented on #148
Should lodash be an regular dependency? In my case, our app code already depends on lodash 3 (which is incompatible with 4), so I have to decide between updating reactabular and lodash at the same time, or neither.

[2016-06-28 16:16] bebraw commented on #148
@marcello3d The problem is that Reactabular is married with lodash 4 API. That's why the minimum version. I can see this can be problematic, though.

The lodash dependency is quite light. Currently we depend just on `get`, `has`, `merge`, and `orderBy`. Probably the biggest problem is the way I require. I have bits like `import merge from 'lodash/merge';`.

One way to solve this would be to push t

[2016-06-28 16:31] marcello3d commented on #148
No need!

With npm 3, if reactabular had a (non-dev/peer) dependency on lodash 4, it'd install two copies and should "just work":
[code]
And if the developer instead depends on lodash 4, it'd only install one copy in `app/node_modules/lodash`.

With npm 2, it may or may not install two copies, depend on the order they get installed (lodash first or reactabular first). However, client-side bundlers

[2016-06-28 18:11] bebraw commented on #157
You have access to `columnIndex` and `rowIndex` now. I happened to need them for [an excel demo](https://bebraw.github.io/reactabular/#/examples/excel). They'll be available in the next beta so I suppose it's safe to close this.

I still have to walk through those `find` bits and simplify the demos.

[2016-06-28 18:11] #157 closed

[2016-06-28 20:05] bebraw commented on #148
Good points. I guess the question is, can I rewrite the imports so that they work for both lodash 3 and 4?

Direct dependency would be acceptable. I guess the version range would have to be very broad then?

Implementing an adapter would add certain overhead as then you would have to glue the adapter with the core before you could actually use it. That's not really the Node way.

[2016-06-28 21:19] marcello3d commented on #148
You might be able to rewrite the imports to work on both, but it'd probably end up a little hacky. I don't know enough about lodash to know if there's a clean way to do it.

I think it's reasonable that if someone is depending on lodash 3 that they'll have extra bundled functions (from v3 and v4) until they're ready to upgrade to lodash 4.

[2016-06-29 08:04] bebraw commented on #148
@marcello3d If you are on webpack, you can definitely write aliases for each import (not too many). I can document the basic idea and loosen the peer dependency range so it won't fail to install.

Note that the `dist` version bundles the lodash bits I use. That adds to the `dist` size, but at least those are standalone. That's actually another way to deal with it. You can alias to the `dist` versi

[2016-06-29 12:43] bebraw commented on #148
Beta 12 is out. Some API work was done (mainly `columnIndex`, `rowIndex` are available to formatters/transforms, added `header.component` and `cell.component` for extra flexibility). Most of the time was spent on examples.

[2016-06-29 12:45] bebraw commented on #146
@isaachinman I added `header.component` and `cell.component` hooks. See the [API docs](https://bebraw.github.io/reactabular/#/table/column-definition). I think we might be able to achieve what you want through those perhaps.

[2016-06-29 12:54] isaachinman commented on #146
Yup, definitely. Can just create a super simple React component that sets its own width explicitly after mounting.

The question is if you want this as default or built-in optional behaviour, otherwise it's up to the user to define such a component.

[2016-06-29 12:57] bebraw commented on #146
This would be a perfect demo (`docs/tables` for code + `docs/examples` for the text part). I've implemented a lot of useful bits there. So if you want to PR there, that would be great.

Maybe we'll end up with some Reactabular wrapper that contains more functionality.

[2016-06-29 12:58] isaachinman commented on #146
Ah, good point. I'll do that then. Cheers!

[2016-06-29 15:03] isaachinman commented on #146
@bebraw You'll see I just submitted a PR, #159. It was obviously quick work, so let me see if you see any issues.

[2016-06-29 16:19] bebraw commented on #146
@isaachinman Awesome! I added some comments here and there. Good work. 👍

[2016-06-30 06:20] bebraw commented on #146
Forgot to close this at merge. Thanks again!

[2016-06-30 06:20] #146 closed

[2016-06-30 11:21] bebraw commented on #33
Implemented as `children` field.

[2016-06-30 11:21] #33 closed

[2016-06-30 16:19] bebraw commented on #148
Beta 14 is out (skipped 13 for technical reasons). See the issue description as usual.

@marcello3d I expanded the version range and added [installation docs](https://bebraw.github.io/reactabular/#/installing). Could you see if that's enough for Lodash 3?

[2016-06-30 16:26] skosch commented on #148
whoa, cool stuff!

I promise I'll shut up about it after this, but do you see the sorter getting an upgrade to work on resolved values, or will that remain a userspace thing for this release?

[2016-06-30 16:29] bebraw commented on #148
Can you open a separate issue? I might need some hammering to get the idea right. 👍

[2016-06-30 16:44] skosch opened #160 "Sort based on resolved values"
As mentioned in the original post #157 – `sort` should take four parameters: `data`, `columns`, `sortingColumns` (i.e. their indices), and `sort` (i.e. `orderBy`). The actual sorting function should act on the resolved values, not simply whatever `get(row, property)` returns.

The data operations would then look like
[code]
or, alternatively, if sorting could be integrated into the table somehow,

[2016-06-30 16:44] skosch commented on #148
Opened #160 :)

[2016-06-30 17:20] bebraw commented on #160
I think the cheapest fix would look like this:

[code]

It's literally the same idea as for search now and would solve the problem I think.

The current solution isn't very efficient, I agree.

I think what we actually want is the concept of pipelines. The full example has code like this

[code]

The problem is that each step has to resolve separately. Instead it might be fun to be able to write s

[2016-06-30 17:28] skosch commented on #160
Well that would take some significant refactoring of things, wouldn't it ... but if you're up for it, I for one would be thrilled! :100:  Being able to pipe those transforms together would be the gold standard of simplicity and elegance :)

[2016-06-30 17:29] bebraw commented on #160
Yeah, that's why I have those tests around. 👍

I'll do the first change as well.

[2016-07-01 16:49] bebraw opened #161 "Support pipelining"
Idea:

[code]

[2016-07-05 08:11] #161 closed

[2016-07-05 10:13] #160 closed

[2016-07-05 10:19] bebraw commented on #160
There's a working solution now. Essentially I resolve at `sorter`.

Initially I tried writing a separate resolution pass but that got messy fast as I had to go through the whole data and resolve each field. Even with that editing proved problematic as it relies on **non-resolved** values (think dropdowns etc.).

I don't know what would be the ideal way to solve this. The current is a starting poin

[2016-07-06 07:49] bebraw commented on #148
Pushed **rc2** to fix `Table.Provider`. There was something extra in `dist-modules` preventing it from working correctly. Better fix tooling a bit.

[2016-07-07 15:06] bebraw commented on #148
*rc3* is available now. See the issue for further details. If nothing serious appears, this is likely the final release. We can always do 2.0, 3.0 if the API has to break.

[2016-07-07 17:16] skosch commented on #148
Uhhh, one last thing on my wishlist: an example in the docs on how to use `sortingColumns` to initialize the sorting.

[2016-07-07 17:19] bebraw commented on #148
@skosch Yeah, I'll do that for the final. Thanks. 👍

[2016-07-11 13:15] bebraw commented on #148
**rc4** is out. Most importantly the sort interface includes order information now since that matters for multi-column sorting. Also made `toFormatter` more generic function. See the issue for further details.

Unless something serious comes up, this will likely be the final release. Still not too late to get changes in. If we need to break the API after that, then we'll do 2.0 etc.

[2016-07-12 01:45] skosch commented on #148
Ahhh, yet another thing! Since updating react I'm regularly getting invalid props errors à la
[code]
so it looks like there is a little bit more cleaning up to do :|

[2016-07-12 05:00] bebraw commented on #148
@skosch Could you open a separate issue about that with a minimal example? Are you passing custom `props` around? The current version of React is very strict.

[2016-07-13 15:11] bebraw opened #165 "Reactabular 1.0.0-rc5 out - Feedback welcome!"
This release focuses on performance. I noticed especially column resizing started to get laggy with large amounts of data so I fixed that. The performance tweaks lead to API improvements and I refactored the API more than I had in mind. But that's good as it's a little easier now. Main changes below:

* Pushed calculation to `Table.Provider` as much as I could. Smaller gains, but still nice to do.

[2016-07-13 15:13] bebraw commented on #148
**rc5** is available. See #165.

There are some breaking changes so take care when upgrading. Esp. `property: 'foo.bar'`, highlight and edit behavior changed for the better. The documentation examples get to the ideas the best. The old `cell.resolve` field still works but that will most likely change a bit in the next release.

[2016-07-13 15:13] #148 closed

[2016-07-13 15:23] skosch commented on #165
Wow! Nice work! :100:

Not a separate issue, but could you elaborate a bit on what you think resolving functions will look like? I have a handful of cases where my resolving logic is more involved than what `_.get` would do (e.g. resolving a bunch of time/date data from `rowData field such that it's sortable

[2016-07-13 15:26] skosch commented on #165
(sorry, accidentally posted half a post there, here's the full version)

Wow! Nice work! :100:

Not a separate issue, but could you elaborate a bit on what you think resolving functions will look like? I have a handful of cases where my resolving logic is more involved than what `_.get` would do (e.g. resolving a bunch of time/date data from `rowData` into a string such that it's sortable, and the

[2016-07-13 15:41] bebraw commented on #165
I expect `cell.resolve` will remain. I'll do a separate pass for those so you'll get another variant of the current resolve except that it won't touch the values and generates separate ones instead.

This gets us to single pass system and allows me to drop direct `cell.resolve` calls from the core logic. It still has to do a lookup but it can avoid the function calls.

Even the single pass system

[2016-07-16 04:46] okyere commented on #165
Got a question. Will this work with remote data? By ajax or some other way to grab the data from a remote api to use this library to tabulate? Thanks.

[2016-07-16 05:09] bebraw commented on #165
Definitely. There's nothing preventing you from fetching the data from elsewhere. You can even have some of the logic on the backend (search, pagination, etc.). I provider helpers for those tasks but there's no absolute need to use them.

When using Reactabular you'll most likely push data related concerns to a state manager like Redux or MobX. That keeps the React side a little simpler and allows

[2016-07-16 21:43] julen opened #166 "Clarify the purpose of `rowKey` in the docs"
As I see the examples in the docs are making use of the `rowKey` prop, but there's no explanation whatsoever on what it is and why it is required — arguably one could guess that it might be related to React's [`key` prop for dynamic children](https://facebook.github.io/react/docs/multiple-components.html#dynamic-children).

By the way, after checking the source code, [it would seem `rowKey` is opt

[2016-07-17 00:45] bebraw commented on #166
Good point. I'll document it for the next release.

Essentially it's performance related. React uses keys to tell virtual DOM elements apart on change. Using index is the worst possible choice and I use the default only for arrays of items (excel example).

[2016-07-18 16:45] #166 closed

[2016-07-18 18:22] bebraw opened #167 "Reactabular 1.0.0-rc6 out - Feedback welcome!"
To continue on the release candidates (#165), here's a new one. The biggest changes have to do with the improved resolution API (less logic, single resolution pass finally), and expanded `Table.Body` definition. Also old `formatters` and `transforms` APIs are gone now (the functionality still exists). I've gathered the main changes below:

* [Excel example](http://reactabular.js.org/#/examples/exc

[2016-07-18 18:27] bebraw commented on #165
Closing as rc6 is out (#167).

[2016-07-18 18:27] #165 closed

[2016-07-18 18:30] alaneng opened #168 "Tree view example"
This is excellent -- exactly what I'm looking for and very intuitive. Thanks so much for working on this.

I'm looking to use this library for its TreeTable component. I'm looking at the source code for the component but can't figure out how the JSON data structure should look like when passing in subrows. What property would I pass into `rows`? An example would help illustrate this.

Also, how wo

[2016-07-18 18:45] bebraw commented on #168
I have to package the tree portion better. Maybe `reactabular-tree` with the [tree example](http://reactabular.js.org/#/examples/tree-view) utilities would work.

Take a good look at the schema:

[code]

It generates essentially a flat list of items. `generateParents` assigns random `parent` relations so that the list is still ordered. You could have relations like this: 1 <-2, 2 <- 3, 2 <- 4, 2 <

[2016-07-18 18:56] alaneng commented on #168
Thanks. I saw the schema but wasn't sure how children rows are passed into the `rows` object. Would it be
[code]
?

[2016-07-18 19:01] bebraw commented on #168
It's literally a flat list. 😄

[code]

The nice thing about this structure is that it fits the table rendering pipeline although I have to take care about visibility etc. outside of it. You also have to be very careful about the structure ordering as it expects to find parent above (not immediate necessarily) assuming the field has been set.

[2016-07-18 20:30] skosch opened #169 "[rc6] Need help resolving things properly"
Just testing out RC5/6, and having issues resolving things properly (but I may well be doing something wrong): I'm getting a ton of  errors à la
[code]
when I'm trying take care both of `property`-based path resolvers and explicit `resolve` handlers via
[code]
The underscore properties are added alright, but for some reason it still seems to want to use the nested objects as the resolved values. C

[2016-07-18 21:01] skosch commented on #169
... so, if I add a formatter like this:
[code]
... then everything works as expected. Shouldn't that happen automatically whenever `resolve.byFunction` is used?

[2016-07-18 21:22] skosch opened #170 "[rc6] Keep data attributes during resolving"
After running the resolver, only displayed values are left, thanks to this piece of code:
[code]
... but I need the rest of my data, too. Crucially, I need an `id` field, which I don't want displayed, but which I need for my `onRow` click handler.

The best compromise in terms of annoyance/performance may be to allow users to define phantom columns that don't get rendered.

In any case however, th

[2016-07-19 08:51] bebraw commented on #169
Ah, I see now. I think we'll need to make `Table.Body` aware of the resolved values. So instead of passing regular value to `format`, we'll need to pass resolved one instead if it exists.

You can still access the original one through the data but I feel this is the right thing to do and it would fix your issue. I'll change this for the next release.

Thanks for the report!

[2016-07-19 08:52] bebraw commented on #170
Yeah, good point. Maybe the right thing to do is to overlay the resolved data on top of the other. So extra `...`. I think I'll change the resolver that way.

Thanks for the report again.

[2016-07-19 14:29] skosch opened #171 "Updating sorting positions"
So … users have been reporting to me that "the sorting is broken", which baffled me until they showed me what they meant. Turns out sorting isn't broken, but the fact that each subsequent click on a header adds a `sortingColumns` entry with higher `position` (i.e. lower priority) means that in practice, clicking on a header often doesn't have any visible effect – because any lower-position column

[2016-07-19 15:48] bebraw commented on #171
Yeah, I can see how that could be confusing to the users. I think you could solve this neatly by passing a custom `sort` function to `sorter`. Basically it does `sort(data, columnIndexList, orderList)` (lodash `orderBy`).

You could write a custom function like this:

[code]

Note that `reverse()` mutates the original array so you might want to do something else instead but I think this should wor

[2016-07-19 16:07] skosch commented on #148
For the record, that problem three comments up … it was due to carelessness in my `onRow` handler. Nothing to see here.

[2016-07-19 16:19] skosch commented on #171
Brilliant, that works like a charm! (So well, in fact, that I think it deserves a mention in the docs :)

Thanks for the warning about `reverse()`, too. There's always `slice().reverse()`, but I don't even think that's necessary here. :+1:

[2016-07-19 16:20] bebraw commented on #171
Yeah, I'll add a note. 👍

[2016-07-20 17:41] #169 closed

[2016-07-20 17:41] #170 closed

[2016-07-20 18:27] bebraw opened #172 "Reactabular 1.0.0-rc7 out - Feedback welcome!"
This is a tiny intermediate release to fix resolution related issues and improve documentation a notch:

* `Table.Body` follows the resolution convention (`_`) now so that `format` will receive a resolved value by default if it exists. #169.
* `byFunction` resolver retains data attributes per row now. #170.
* Improved documentation structure so that `Table` is discussed before column definition. A

[2016-07-20 18:27] bebraw commented on #167
rc7 out (#172) so closing this.

[2016-07-20 18:27] #167 closed

[2016-07-20 23:50] skosch commented on #170
Hm, this isn't really working for me yet. If I want to be able to use both resolver methods as you do in the example, i.e.
[code]
then if no `property` is found (but only `resolve`),
1. `resolve.nested` should just return the whole thing, not just `{}`, and
2. `resolve.byFunction` will use `value = undefined`, which isn't exactly what people might expect.

The alternative would be to combine resol

[2016-07-21 00:32] skosch commented on #170
Actually, disregard what I just wrote. Of course the columns need `property` to know which data attribute to read their data from :see_no_evil:

The issue remains, however, that there is no reliable way to resolve first by `property` (if it exists) and then by `resolve`, with the result of the `nested` pass getting passed in as `value`, without some convoluted back-and-forth:
[code]
This does appe

[2016-07-21 03:13] skosch commented on #170
**Another thing:** The rest of the data isn't kept around if a table uses *only* `property` columns. Just ran into that issue and was able to fix it by adding an identity resolver, but I shouldn't have to :)

[2016-07-21 08:07] bebraw commented on #170
@skosch Can you open a separate issue and set up some kind of test case? Sounds like I'm missing a piece of logic to make the behavior nice.

That sounds like an easy fix. I can probably write a test case just for that.

[2016-07-21 11:50] julen commented on #172
Hey @bebraw, wonderful work so far on the road to 1.0! I've been watching the progress and I want to thank you for all the effort and thought put in the component.

Now a question: do you have any estimates on releasing 1.0 final? On my spare time I've been trying to build something by using reactabular but to be frank the frequent API changes have been putting me a bit off. That's why I wonder mo

[2016-07-21 11:57] bebraw commented on #172
@julen I've achieved my main goals with the component so I won't be shuffling the API anymore. I'm in a bug fix mode right now. There's a resolving related issue to figure out.

Instead of doing a "big bang" release, I'll be publishing the component in parts. So instead of `reactabular`, you get `reactabular-sort` etc. The API work has been partially about enabling that (formatters/transformers mo

[2016-07-21 12:11] julen commented on #172
Cool, thanks for the update!

[2016-07-21 17:02] bebraw commented on #170
@skosch Could you write test cases for the problematic bits? That would help a lot. I don't mind writing the implementation to match those.

[2016-07-21 21:45] skosch commented on #170
I'll do my best, if it can wait until tomorrow afternoon – sorry, I'm a bit swamped with other stuff at the moment! And who knows, maybe it turns out I'm just using it wrong ... sorry about the delay anways!

[2016-07-22 02:58] bebraw commented on #170
No worries. :+1:

[2016-07-22 18:23] bebraw opened #173 "Reactabular 1.0.0-rc8 out - Feedback welcome!"
Functionally speaking this is a small release. If I did everything right, nothing should have changed (for good or bad). The biggest change was that I ported the project to use [Lerna](https://lernajs.io/). It's a monorepo consisting of smaller packages now.

The old `reactabular` package should work still. In addition, you can find [the other functionality under npm](https://www.npmjs.com/browse/

[2016-07-22 18:23] bebraw commented on #172
Closing given there's a new RC now (#173).

[2016-07-22 18:23] #172 closed

[2016-07-22 19:41] skosch commented on #170
Alright, here we go. I'm not gonna bother making a PR for this because I'm sure things will change anyways, but the following fails for me:
[code]
The one thing to take away here is that `byFunction` doesn't have access to `rowData`, because `nested` doesn't return any. Yes, `resolver.resolve` takes care of this on a higher level, but when we write custom combined resolvers we need to shepherd tha

[2016-07-22 19:42] bebraw commented on #170
@skosch Thanks. Looks good. 👍

[2016-07-22 19:57] skosch commented on #173
If you handle versions individually, would you still follow SemVer conventions in the sense that anyone could rely on packages of identical major versions being compatible? Essentially, would one breaking change then force all other packages to major-increment as well? I don't really have an opinion either way, just curious.

[2016-07-22 20:02] bebraw commented on #173
If I do a breaking change to something like `reactabular-sort` and `reactabular` is at `1.0`, then I would have to bump `reactabular` to `2.0` to comply with SemVer while `reactabular-sort` could go from `0.1` to `0.2` (assuming current version).

I guess the worst case is that we would end up bumping the version of `reactabular` a lot given it's aggregate of those other packages.

I don't know if

[2016-07-25 14:06] bebraw commented on #173
Final 1.0 is available now. A couple of notes:

* I fixed a `resolve` related issue. Now it's possible to chain the variants in a reasonable way without losing any data in between. So you can resolve nested data before running it through `resolve`
* I improved the documentation a notch. There's a [dedicated CRUD example](http://reactabular.js.org/#/examples/crud). You can also [drag and drop rows]

[2016-07-25 14:06] #173 closed

[2016-07-25 15:29] skosch commented on #173
Amazing work. Congratulations :) :tada: Thanks a ton for the time you've put into this!

[2016-07-25 15:36] bebraw commented on #173
Thanks. There are still a few things to do. Next step: easy wrapper. 👍

[2016-07-28 09:27] venkirocking2 opened #175 "npm start error"
C:\Users\harsh\Downloads\reactabular-master\reactabular-master>npm install
npm WARN deprecated wrench@1.5.8: wrench.js is deprecated! You should check out fs-extra (https://github.com/jprichardson/node-fs-extra) for any operations you were using wrench for. Thanks for all the usage over the years.
npm WARN deprecated minimatch@2.0.10: Please update to minimatch 3.0.2 or higher to avoid a RegExp Do

[2016-07-28 09:35] bebraw commented on #175
@venkirocking2 I removed that `postinstall` bit. Could you give it a go now?

[2016-07-29 06:09] venkirocking2 commented on #175
Now i am gettting this issue local host is getting loaded but it was blank....:(

C:\Users\harsh\Desktop\reactabular-master (1)\reactabular-master>npm start

http://localhost:8080/
webpack result is served from /
content is served from C:\Users\harsh\Desktop\reactabular-master (1)\reactabular-master
404s will fallback to /index.html

ERROR in ./~/catalog/lib/loader.js!./~/raw-loader!./README.md
ea

[2016-07-29 06:16] bebraw commented on #175
This feels like a path issue.

Could you try running [Catalog](https://github.com/interactivethings/catalog)? If that fails, then it's something at Catalog, else it's something for me to figure out. 👍

[2016-08-04 05:37] bebraw opened #176 "Push reactabular-edit out of the core project?"
I just realized there's nothing Reactabular specific at `reactabular-edit` and it's actually useful outside of the project itself. Based on that I would say it would make sense to extract it outside of this project (rename + deprecate the old package) in 2.0.

[2016-08-04 07:36] bebraw opened #177 "Push reactabular-easy out of the core project?"
This like another one of those packages that could go to a repository of its own.

Related to #176.

[2016-08-04 11:59] maxdow opened #178 "Reactabular-easy demo not working"
On the website ( http://reactabular.js.org/#/easy) I got `bundle.f0cc492….js:10 Uncaught TypeError: Cannot read property 'toLowerCase' of undefined` after trying to sort Testing or Company column

[2016-08-04 12:46] #178 closed

[2016-08-04 12:47] bebraw commented on #178
Thanks! Fixed in `1.1.4`.

[2016-08-04 12:52] maxdow commented on #178
You are amazing ;)

[2016-08-06 07:10] bebraw commented on #175
@venkirocking2 Any luck with this?

[2016-08-08 12:09] bebraw opened #179 "reactabular-resizable - Push the resizing widget to the column edge?"
This would be fairly simple to achieve with CSS like this:

[code]

It's that `margin-right` part that's hard. If we want a dynamic solution, then it would have to be calculated.

I guess defaulting to `width: 0` and `outline` as above would be enough as long as we document how offset the widget. Any thoughts?

[2016-08-09 10:59] apsavin opened #180 "Possibility to focus editor on activation"
Hi!
Thanks for the great library!

I have a little problem with it. When user activates an editor (for example, `input` built-in editor), the editor is not focused. So, if user wants to start editing (or even if it was a misclick and user wants just to leave the edit mode), user must to focus the input and then to blur it. It's not very handy.

Can I force input to appear focused somehow? If no, w

[2016-08-09 15:46] bebraw commented on #180
Hi,

That's a valid point. I wonder if that would be a good default behavior even. As far as I can see, we could achieve that through a ref. Something along `ref={e => e && e.focus()}` would likely work.

If you want to give it a quick go, implement a custom version of [edit](https://github.com/reactabular/reactabular/blob/master/packages/reactabular-edit/src/edit.js). It's that `children` bit tha

[2016-08-09 17:42] hiteshpatwari opened #181 "Search with JS Object format,"
I have a column in my table which can be a String or a JS Object, but the issue is, if the value comes up as string, search is working properly. but does not work when it is a JSON like JS object.
here is my column definition :

[code]

I also tried, converting the JSON object to a array of strings and a comman separated string, both to no avail. what M I doing wrong here ?

[2016-08-09 18:38] bebraw commented on #181
Hi,

The API has changed since the early betas. It doesn't do anything with `search` fields without effort. The search API supports resolver convention. See http://reactabular.js.org/#/resolving-data .

I think `byFunction` resolver should be what you need. You can define a custom field there and even map to `search` so it will pick up the value to search against from there.

Reading through the s